header.container-fluid {
  padding: 0;
}

.banner {
  width: 100%;
  height: 65vh;
}

/* Carrosel Instagran */
.instagram_mobile{
  display: none;
}

.titlebar {
  overflow: hidden;
}

.titlebar .next-back {
  float: right;
  margin: 12px 0;
}

.titlebar .next-back span a {
  font-size: 40px;
  text-transform: uppercase;
  color: #222222;
}

.titlebar .next-back span a:hover {
  text-decoration: none;
  color: #888888;
}

.titlebar .next-back span {
  border-right: 1px solid #000;
  padding: 0 8px 0 5px;
  display: inline-block;
  line-height: 10px;
}

.titlebar .next-back span:last-child {
  border-right: none;
  padding-right: 0;
}

.carousel {
  margin-bottom: 0;
  padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}
.arrival-product .arrival-item ul li {
  float: left;
  list-style: none;
  width: 23%;
  overflow: hidden;
  margin-right: 2.6%;
}

.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}

.carrouselSlide:hover{
  border-bottom: 2px solid #ffde59;
}
/* Fim Carrossel Instagram */

.cards_mobile{
  display: none;
}

.carousel-indicators .active{
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: black;
}

.carrossel{
  height: 420px;
}

.carrossel_img{
  height: 400px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 500px;
}

.card:hover {
  box-shadow: 0 4px 8px 0;
}

.linha {
  color: grey;
  font-size: 22px;
}

img.produto {
  height: 250px;
}
.produto{
  width:100%
}

.parallax {
  background-image: url('../../assets/img/modelos/mod-row2.jpeg');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modeloDistr {
  width: 100%;
  height: 550px;
  border-radius: 8px;
}

.cor1 {
  color: white;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 16px;
  padding: 0 5px;
  box-shadow: 0 4px 4px 0 dimgray;
  font-weight: bold;
}

.cor2 {
  color: black;
  background-color: #ffde59;
  border: 2px solid #ffde59;
  border-radius: 16px;
  padding: 0 5px;
  box-shadow: 0 4px 4px 0 dimgray;
  font-weight: bold;
}

[data-anime] {
  opacity: 0;
  transition: 1.2s;
}

[data-anime="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(100px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

h1 { 
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
 }

 h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

p {
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 991px) {
  h1{
    font-size: 35px;
  }
  h3{
    font-size: 23px;
  }
  .linha{
    font-size: 20px;
  }
  .descricao{
    display: none
  }
  .card{
    height: 400px;
  }
  .titlebar .next-back span a {
    font-size: 30px;
  }
}


@media (max-width: 767px) {
  img.produto {
    height: 180px;
  }
  .card{
    height: 360px;
  }
  h3{
    font-size: 25px;
  }
  .linha{
    font-size: 18px;
  }
  .banner {
    height: 40vh;
  }
  .titlebar .next-back span a {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  h1{
    font-size: 30px;
  }
  .cards_desktop{
    display: none;
  }
  .cards_mobile{
    display: block;
  }
  .banner {
    height: 30vh;
  }
  .instagram_mobile{
    display: block;
  }
  .arrival-product .arrival-item ul li {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media (max-width: 450px) {
  h1{
    font-size: 25px;
  }
  .carrossel{
    height: 350px;
  }
  .carrossel_img{
    height: 330px;
  }
  .carousel-control-next-icon:after{
  font-size: 40px;
  }
  .carousel-control-prev-icon:after{
    font-size: 40px;
  }
}


@media (max-width: 375px) {
  .carrossel{
    height: 320px;
  }
  .carrossel_img{
    height: 290px;
  }
  .carousel-control-next-icon:after{
    font-size: 35px;
    }
  .carousel-control-prev-icon:after{
    font-size: 35px;
  }
}