<main>
  <header class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/pagina_home/carrosel/associacaofalamulher.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/pagina_home/carrosel/associacaofalamulher.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/pagina_home/carrosel/associacaofalamulher.webp" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </header>

  <div class="conteudo container  col-md-10 col-sm-10 col-lg-10">
    <h1 class="linha_produtos">Ultimos lançamentos </h1>
    <hr>
    <p>Para todos tipos de cabelo, não perca tempo!
    </p>
    <br>
    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img class="img_lancamento" src="../../assets/img/pagina_home/lancamentos/P1_QNanoPlex.png" alt="lancamento">
        <h3>Q-Nano Plex</h3>
        <h6>RECONSTRUTOR</h6>
        <button class="botao_home">VER PRODUTO</button>
      </div>
    </div>

    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img class="img_lancamento" src="../../assets/img/pagina_home/lancamentos/P2_RedPepper.png" alt="lancamento">
        <h3>Red Pepper</h3>
        <h6>MÁSCARA</h6>
        <button class="botao_home">VER PRODUTO</button>
      </div>
    </div>

    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img style="padding-right: 25px;" class="img_lancamento"
          src="../../assets/img/pagina_home/lancamentos/P3_WineRoyal.png" alt="lancamento">
        <h3>Wine Royal</h3>
        <h6>MÁSCARA</h6>
        <button class="botao_home">VER PRODUTO</button>
      </div>
    </div>
  </div>
  <!-- Fim dos lançamentos -->
  <br><br>

  <!-- Inicio banner -->
  <div>
    <img id="banner" class="mt-5" src="../../assets/img/pagina_home/banner.png" alt="">
  </div>
  <!-- Fim banner -->

  <div style="height: 500px;" class="container mt-3 col-md-10 col-sm-10 col-lg-10">
    <h1 class="linha_produtos">Conheça nossa linha de produtos
      <hr>
    </h1>
    <br>
    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img class="img_lancamento" src="assets/img/pagina_home/lancamentos/lancamento1.webp" alt="lancamento">
        <h3>Senscience True</h3>
        <button class="botao_home">VER LINHA</button>
      </div>
    </div>

    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img class="img_lancamento" src="assets/img/pagina_home/lancamentos/lancamento1.webp" alt="lancamento">
        <h3>Senscience True</h3>
        <button class="botao_home">VER LINHA</button>
      </div>
    </div>

    <div class="lancamento col-md-4 col-sm-4 col-lg-4">
      <div class="img_alinhamento">
        <img class="img_lancamento" src="assets/img/pagina_home/lancamentos/lancamento1.webp" alt="lancamento">
        <h3>Senscience True</h3>
        <button class="botao_home">VER LINHA</button>
      </div>
    </div>
  </div>

</main>