.categorias_mobile{
  display: flex;
}
.sidebar-widget-1 .list-group-item {
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}

.list-group-hover .list-group-item:hover {
  background-color:  #fec63e;
  color: #fff;
  transition: all 0.5s ease-out;
}

.list-group-item.bg-active {
  background:  #fec63e;
  color: #fff;
}

* {
  text-align: justify;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0.5px;
}
/* ------------------------------------------------- */

.product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.product-grid3:before {
  content: "";
  height: 81%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
}

.product-grid3:hover:before {
  opacity: 1;
  height: 100%;
}

.product-grid3 .product-image3 {
  position: relative;
}

.product-grid3 .product-image3 a {
  display: block;
}

.product-grid3 .product-image3 img {
  width: 100%;
  height:400px;
}

.product-grid3 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}

.product-grid3:hover .pic-1 {
  opacity: 0;
}

.product-grid3 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}

.product-grid3:hover .pic-2 {
  opacity: 1;
}

h1 { 
  font-weight: bold;
  
 }

 h3 {
  font-weight: bold;
}

.product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -23px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}

.product-grid3:hover .social {
  opacity: 1;
  transform: scale(1);
}

.product-grid3 .social li {
  display: inline-block;
}

.product-grid3 .social li a {
  color: #ffde59;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all 0.3s ease 0s;
  padding-left: 15px;
}

.product-grid3 .social li a:hover {
  background: #ffde59;
  color: #fff;
  cursor: pointer;
}

.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
  background-color: #ffde59;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s;
}
.product-new-label{
  border-radius: .25rem;
}
.product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left;
}

.product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}

.product-grid3 .title a {
  color: #414141;
}

.product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block;
}
.product-grid3 .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px;
}
.product-grid3 .rating {
  padding: 0;
  margin: -22px 0 0;
  list-style: none;
  text-align: right;
  display: block;
}

.product-grid3 .rating li {
  color: #fec63e;
  font-size: 13px;
  display: inline-block;
}

.product-grid3 .rating li.disable {
  color: #dcdcdc;
}

.cardProduto:hover {
  cursor: pointer;
}

#produtoBotox,
#produtoHidratante,
#produtoMascara {
  display: none;
}

.modal {
  margin-top: 120px;
}

.textoCinza {
  color: grey;
  font-size: 22px;
}






header.container-fluid {
  padding: 0;
}

.banner {
  width: 100%;
  height: 65vh;
}

/* Carrosel Instagran */
.instagram_mobile{
  display: none;
}

.titlebar {
  overflow: hidden;
}

.next-back{
  padding-right: 18px;
}

.titlebar .next-back {
  float: right;
  margin: 12px 0;
}

.titlebar .next-back span a {
  font-size: 20px;
  text-transform: uppercase;
  color: #222222;
  font-weight: bold;
}

.titlebar .next-back span a:hover {
  text-decoration: none;
  color: #888888;
}

.titlebar .next-back span {
  border-right: 1px solid #000;
  padding: 0 8px 0 5px;
  display: inline-block;
  line-height: 10px;
}

.titlebar .next-back span:last-child {
  border-right: none;
  padding-right: 0;
}

.carousel {
  margin-bottom: 0;
  padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}
.arrival-product .arrival-item ul li {
  float: left;
  list-style: none;
  width: 23%;
  overflow: hidden;
  margin-right: 2.6%;
}

.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}

.carrouselSlide:hover{
  border-bottom: 2px solid #ffde59;
}
/* Fim Carrossel Instagram */

.cards_mobile{
  display: none;
}

.carousel-indicators .active{
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  margin-bottom: 100px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: black;
}

.carrossel{
  height: 450px;
}

.carrossel_img{
  height: 400px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 500px;
}

.left{
  margin-right: 250px;
}

.right{
  margin-left: 250px;
}

.linha {
  color: grey;
  font-size: 22px;
}

img.produto {
  height: 250px;
}
.produto{
  width:100%
}

.parallax {
  background-image: url('../../assets/img/modelos/mod-row2.jpeg');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modeloDistr {
  margin-left: 10%;
  width: 80%;
  height: 502px;
  border-radius: 8px;
}

.cor1 {
  color: white;
  background-color: gray;
  border: 2px solid gray;
  border-radius: .25rem !important;
  padding: 0 5px;
  box-shadow: 0 4px 4px 0 dimgray;
  font-weight: bold;
}

.cor2 {
  color: black;
  background-color: #ffde59;
  border: 2px solid #ffde59;
  border-radius: .25rem !important;
  padding: 0 5px;
  box-shadow: 0 4px 4px 0 dimgray;
  font-weight: bold;
}

[data-anime] {
  opacity: 0;
  transition: 1.2s;
}

[data-anime="bottom"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime="right"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

h1 { 
  font-weight: bold;
 }

 h3 {
  font-size: 30px;
}

@media (max-width: 1200px) {
  .left{
    margin-right: 190px;
  }
  
  .right{
    margin-left: 190px;
  }
  .animacao{
    font-size: 14px;
  }
}



@media (max-width: 991px) {
  h1{
    font-size: 35px;
  }
  h3{
    font-size: 23px;
  }
  .linha{
    font-size: 20px;
  }
  .descricao{
    display: none
  }
  .card{
    height: 400px;
  }
  .left{
    margin-right: 130px;
  }
  .modeloDistr{
    display: none;
  }
  .product-grid3 .product-image3 img {
    height:300px;
  }  
  .right{
    margin-left: 130px;
  }
}


@media (max-width: 767px) {
  img.produto {
    height: 180px;
  }
  .card{
    height: 360px;
  }
  h3{
    font-size: 25px;
  }
  .linha{
    font-size: 18px;
  }
  .banner {
    height: 40vh;
  }
  .left{
    margin-right: 80px;
  }
  .product-grid3 .product-image3 img {
    height:200px;
  }

  .lancamento{
    padding: 0 8px;
  }
  
  .right{
    margin-left: 85px;
  }

}
@media (max-width: 576px) {
  h1{
    font-size: 30px;
  }
  .cards_desktop{
    display: none;
  }
  .cards_mobile{
    display: block;
  }
  .banner {
    height: 30vh;
  }
  .instagram_mobile{
    display: block;
  }
  .arrival-product .arrival-item ul li {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .left{
    margin-right: 0%;
  }

  .product-grid3 .product-image3 img {
    margin-left: 10%;
    width: 80%;
    height:300px;
  }
  
  .distribuidor{
    margin-left: 4.16%;
  }
  .cardProduto{
    padding-top: 50px;
  }

  .product-new-label{
    margin-top: -50px;
  }

  .right{
    margin-left: 0%;
  }
}

@media (max-width: 450px) {
  h1{
    font-size: 25px;
  }
  .carrossel{
    height: 410px;
  }
  .carousel-control-next-icon:after{
  font-size: 40px;
  }
  .carousel-control-prev-icon:after{
    font-size: 40px;
  }
  .cardProduto{
    padding-top: 0px;
  }
  .product-new-label{
    margin-top: 0px;
  }
}


@media (max-width: 375px) {
  .carousel-control-next-icon:after{
    font-size: 35px;
    }
  .carousel-control-prev-icon:after{
    font-size: 35px;
  }
  .cardProduto{
    width: 80%;
    margin-left: 10%;
  }
}

