<main class="fundo">
  <div id="carouselExampleControls" class="carousel carousel-banner banner slide shadow-sm" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-5 col-lg-5 d-md-block d-lg-block card-banner d-sm-none d-none">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold M.png" class="card-img-top" id="gold_mascara" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Luxury Gold Máscara</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">L.G. Máscara</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']"
                       class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/LUXURY GOLD S.png" class="card-img-top" id="gold_shampoo" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Luxury Gold Shampoo</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">L.G. Shampoo</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold H.png" class="card-img-top" alt="" id="gold_hidratante">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Luxury Gold Hidratante</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">L.G. Hidratante</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/LUXURY GOLD KIT.png" class="card-img-top" alt="" id="gold_kit">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Kit Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">Kit L.G.</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12">
            <a [routerLink]="['/produtos']"><img class="img_carrossel_banner" src="../../assets/img/modelos/carrosel2.jpeg"></a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-5 col-lg-5 d-md-block d-lg-block card-banner d-sm-none d-none">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/System Save Mascara.png" class="card-img-top" id="sys_mascara" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">System Save Máscara</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">S.S. Máscara</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/System Save Shampoo.png" class="card-img-top" id="sys_shampoo" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">System Save Shampoo</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">S.S. Shampoo</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/System Save R.png" class="card-img-top" alt="" id="sys_hidratante">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">System Save Hidratante</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">S.S. Hidratante</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/SYSTEM SAVE kit.png" class="card-img-top" alt="" id="sys_kit">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Kit System Save</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">Kit S.S.</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12">
            <a [routerLink]="['/produtos']"><img class="img_carrossel_banner"  src="../../assets/img/modelos/carrosel1.jpeg"></a>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-5 col-lg-5 d-md-block d-lg-block card-banner d-sm-none d-none">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/QQ-Cream Mascara.png" class="card-img-top" id="qq_mascara" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">QQ-Cream Máscara</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">QQ Máscara</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/QQ-CREAM_S.png" class="card-img-top" id="qq_shampoo" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">QQ-Cream Shampoo</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">QQ Shampoo</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/QQ-Cream.png" class="card-img-top" alt="" id="qq_hidratante">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">QQ-Cream Hidratante</h5></div>
                    <div class="justify-content-center d-flex "><h5 class="card-title texto_responsivo">QQ Hidratante</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/QQ- CLEAM KIT.png" class="card-img-top" alt="" id="qq_kit">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_desktop">Kit QQ-Cream</h5></div>
                    <div class="justify-content-center d-flex"><h5 class="card-title texto_responsivo">Kit QQ</h5></div>
                    <div class="justify-content-center d-flex"><a [routerLink]="['/produtos']" class="btn">Confira!</a></div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12">
            <a [routerLink]="['/produtos']"><img class="img_carrossel_banner"  src="../../assets/img/modelos/carrosel3.jpeg"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-control-prev" role="button" data-slide="prev" href="#carouselExampleControls">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </div>
    <div class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </div>
  </div>
  <div class="container container_mobile_instagram">
    <h1 class="text-center">Confira Nosso Instagram</h1>
    <hr class="mt-2 mb-4">
    <div class="row desktop_instagram">
      <div class="new-arrival">
        <div class="arrival-product">
          <div id="CarouselDesktop" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7jDDU9JXnL/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/8.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7qp0t6JMOf/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/2.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CBmJK4qJaAN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/5.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAcXZOvJkhu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/4.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CA1Go1spZGQ/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/1.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B76PCIjJ13P/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/6.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CApvv-qpXx-/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/3.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CBhHbKsJJzu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/7.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7i_dgZJpXO/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/9.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7i9aCDJIeN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/10.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7KGEzPpcjb/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/11.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B71Hdi5pMoc/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/12.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
            </div>
            <div class="next-back">
              <div class="carousel-control-next icone_next_carousel_instagram" href="#CarouselDesktop" role="button" data-slide="next">
                <span class="carousel-control-next-icon seta_proximo_instagram" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </div>
              <div class="carousel-control-prev icone_prev_carousel_instagram" href="#CarouselDesktop" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon seta_anterior_instagram" aria-hidden="true"></span>
                <span class="sr-only">prev</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mobile_instagram">
      <div class="new-arrival">
        <div class="arrival-product">
          <div id="CarouselMobile" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7jDDU9JXnL/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/8.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7qp0t6JMOf/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/2.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CBmJK4qJaAN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/5.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAcXZOvJkhu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/4.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CA1Go1spZGQ/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/1.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B76PCIjJ13P/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/6.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CApvv-qpXx-/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/3.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CBhHbKsJJzu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/7.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7i_dgZJpXO/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/9.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7i9aCDJIeN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/10.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7KGEzPpcjb/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/11.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B71Hdi5pMoc/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/12.jpg" alt="Image" class="imagem_carrossel_intagram"></a>
                    </li>
                  </Ul>
                </div>
              </div>
            </div>
            <div class="next-back">
              <div class="carousel-control-next icone_next_carousel_instagram" href="#CarouselMobile" role="button" data-slide="next">
                <span class="carousel-control-next-icon seta_proximo_instagram" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </div>
              <div class="carousel-control-prev icone_prev_carousel_instagram" href="#CarouselMobile" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon seta_anterior_instagram" aria-hidden="true"></span>
                <span class="sr-only">prev</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-3 mb-5">
    <h1 class="text-center">Instituições de Apoio à Mulher</h1>
    <hr class="mt-2 mb-4">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-8 col-8">
        <div class="card-content shadow-sm">
          <div class="card-img">
            <a href="https://www.institutomariadapenha.org.br/" target="_blank"><img src="../../assets/img/pagina_home/imp.png" alt=""></a>
          </div>
          <div class="card-desc">
            <h3 class="titulo_instituicao">Instituto Maria da Penha</h3>
            <p class="descricao_instituicao">Enfrentar, por meio de mecanismos de conscientização e empoderamento, a violência doméstica e familiar contra a mulher, além de estimular e contribuir para a aplicação integral da lei Maria da Penha e o seu cumprimento.</p>
            <div class="botao_instituicao"><a href="https://www.institutomariadapenha.org.br/" target="_blank" class="btn">Ir para o site</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-8">
        <div class="card-content shadow-sm">
          <div class="card-img">
            <a href="https://associacaofalamulher.wixsite.com/associacaofalamulher" target="_blank"><img src="../../assets/img/pagina_home/fala mulher.png" alt=""></a>
          </div>
          <div class="card-desc">
            <h3 class="titulo_instituicao">Associação Fala Mulher</h3>
            <p class="descricao_instituicao">Acreditam que todas as mulheres podem abraçar quem elas realmente são, podem definir seu futuro e mudar o mundo. Atuam na defesa e garantia dos direitos humanos, com especialidade no enfrentamento à violência contra a mulher.</p>
            <div class="botao_instituicao"><a href="https://associacaofalamulher.wixsite.com/associacaofalamulher" target="_blank" class="btn">Ir para o site</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-8">
        <div class="card-content shadow-sm">
          <div class="card-img">
            <a href="https://www.geledes.org.br/" target="_blank"><img src="../../assets/img/pagina_home/geledes.jpg" alt=""></a>
          </div>
          <div class="card-desc">
            <div class="titulo_geledes"><h3 class="titulo_instituicao">Geledés</h3></div>
            <p class="descricao_instituicao">A Geledés é uma organização da sociedade civil que se posiciona em defesa de mulheres e negros por entender que esses dois segmentos sociais padecem de desvantagens e discriminações no acesso às oportunidades sociais.</p>
            <div class="botao_geledes botao_instituicao"><a href="https://www.geledes.org.br/" target="_blank" class="btn">Ir para o site</a></div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 animacao" data-anime="bottom">
    
    <div class="row div_distribuidor correcao_margin">
      
      <div class="col-lg-5 d-none d-lg-block" >
        <img class="modeloDistr" src="../../assets/img/modelos/mod-col2.jpeg" alt="">
      </div>
      
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 shadow">
        <h2 class="text-center mb-5 mt-5">Venha Ser Um Distribuidor</h2>
        
        <div class="div_distribuidor ocultar_dist_mobile">
          <p class="cor1">Seja seu chefe, liberdade total para estabelecer suas próprias regras.</p>
        </div>
        
        <div class="div_distribuidor aparecer_dist_mobile">
          <p class="cor1">Seja seu próprio chefe.</p>
        </div>

        <div class="div_distribuidor">
          <p class="cor2">Lucro na revenda dos produtos.</p>
        </div>
        
        <div class="div_distribuidor ocultar_dist_mobile">
          <p class="cor1">Horário flexível, você define seu horário de trabalho.</p>
        </div>

        <div class="div_distribuidor aparecer_dist_mobile">
          <p class="cor1">Horário flexível de trabalho.</p>
        </div>
        
        <div class="div_distribuidor ocultar_dist_mobile">
          <p class="cor2">Envio rápido dos produtos, via correios ou transportadora.</p>
        </div>

        <div class="div_distribuidor aparecer_dist_mobile">
          <p class="cor2">Envio rápido dos produtos.</p>
        </div>
        
        <div class="div_distribuidor">
          <p class="cor1">Sem consulta ao SPC/Serasa.</p>
        </div>
        
        <div class="div_distribuidor ocultar_dist_mobile">
          <p class="cor2">Compras realizadas diretas com seu consultor de vendas através de:</p>
        </div>
        
        <div class="cor1 justify-content-center row ocultar_dist_mobile">
          <div class="col-lg-4 col-md-4 col-sm-4 justify-content-center d-flex pt-3"><p>Cartão de crédito</p></div>
          <div class="col-lg-4 col-md-4 col-sm-4 justify-content-center d-flex pt-3"><p>Cartão de débito</p></div>
          <div class="col-lg-4 col-md-4 col-sm-4 justify-content-center d-flex pt-3"><p>Boleto à vista</p></div>
        </div>
        
        <div class="row justify-content-center mb-4 margin_botao_distribuidor">
          <button class="btn" [routerLink]="['/contato']">TORNAR-SE DISTRIBUIDOR</button>
        </div>
        
      </div>
    </div>
  </div>
</main>