* {
  text-align: justify;
}

h1 { 
  font-weight: bold;
  font-weight: bold;
 }

 h3 {
  font-size: 30px;
  font-weight: bold;
}

body {
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* navbar-mobile */

.sidebar-widget-1 .list-group-item {
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}

.list-group-hover .list-group-item:hover {
  background-color:  #fec63e;
  color: #F8F9F9;
  transition: all 0.5s ease-out;
}

.list-group-item.bg-active {
  background:  #fec63e;
  color: #F8F9F9;
}

/* fim-navbar-mobile */

/* carousel banner */

.carousel{
  margin-bottom: 5vh;
}

.carousel-control-prev{
  margin-left: 3%;
}

.carousel-control-next{
  margin-right: 3%;
}

.carousel-control-prev,.carousel-control-next{
  height: 40px !important;
  margin-top: 37.5vh;
  background-color: #424949;
  border-radius: 40px;
  width: 40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  color: black;
}

.card{
  height: 35vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 90%;
  margin-left: 5%;
}

.card-body{
  height: 8vh;
  padding: 10px !important;
}

.card-title{
  font-size: 16px;
}

.card-img-top{
  height: 23vh;
  width: 90%;
  margin-left: 5%;
}

.card-banner{
  padding-top: 20px;
}

.carousel-banner{
  padding-left: 30px;
}

.img_carrossel_banner{
  height: 80vh !important;
  padding: 4vh;
  width: 100%;
  
}

.banner {
  width: 100%;
  height: 80vh !important;
  border-radius: 2px;
}

/* carousel banner fim */

/* Carrosel Instagran */
.seta_anterior_instagram{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}
.seta_proximo_instagram{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.instagram_mobile{
  display: none;
}

.titlebar {
  overflow: hidden;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}

.arrival-product .arrival-item ul li {
  float: left;
  list-style: none;
  width: 23%;
  overflow: hidden;
  margin-right: 2.6%;
}

.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}

.carrouselSlide:hover{
  border-bottom: 2px solid rgba(247, 220 , 111, 1);
}

/* Fim Carrossel Instagram */

/* .parallax {
  background-image: url('../../assets/img/modelos/mod-row2.jpeg');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* seja um distribuidor */
.div_distribuidor{
  width: 100%;
}

.modeloDistr {
  margin-left: 25%;
  width: 50%;
  height: 560px;
  border-radius: 8px;
}

.cor1 {
  color: #424949;
  background-color: rgba(244,244,240);
  border-radius: .1rem !important;
  padding: 10px;
  margin: 0 10%;
}

.cor2 {
  color: #424949;
  border-radius: .1rem !important;
  padding: 10px;
  margin: 0 10%;
}

.margin_botao_distribuidor{
  margin-top: 39px;
}

[data-anime] {
  opacity: 0;
  transition: 1.2s;
}

[data-anime="bottom"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime="right"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* seja um distribuidor fim */

/* ajustes imagens cards */

#gold_mascara{
  padding: 0px;
}
#gold_shampoo{
  padding: 18px 60px;
}
#gold_hidratante{
  padding: 0px;
}
#gold_kit{
  padding: 20px;
}
#qq_shampoo{
  padding: 18px 60px;
}
#qq_kit{
  padding: 15px;
}

/* fim ajustes imagens cards */