<main class="fundo">
  <div id="carouselExampleControls" class="carousel carousel-banner slide shadow-sm" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item banner active">
        <div class="row">
          <div class="col-md-4 col-lg-4 d-block card-banner">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8">
            <img class="banner" src="../../assets/img/modelos/carrosel2.jpeg">
          </div>
        </div>
      </div>
      <div class="carousel-item banner">
        <div class="row">
          <div class="col-md-4 col-lg-4 d-block card-banner">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8">
            <img class="banner" src="../../assets/img/modelos/carrosel1.jpeg">
          </div>
        </div>
      </div>
      <div class="carousel-item banner">
        <div class="row">
          <div class="col-md-4 col-lg-4 d-block card-banner">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6">
                <div class="card shadow-sm">
                  <img src="../../assets/img/pagina_home/produtos/Luxury Gold.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <div class="justify-content-center d-flex"><h5 class="card-title">Luxury Gold</h5></div>
                    <div class="justify-content-center d-flex"><a class="btn">Confira!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8">
            <img class="banner" src="../../assets/img/modelos/carrosel3.jpeg">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-control-prev" role="button" data-slide="prev" href="#carouselExampleControls">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </div>
    <div class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </div>
  </div>
  <div class="container mt-3 mb-5">
    <h1 class="text-center">Confira Nosso Instagram</h1>
    <hr class="mt-2 mb-4">
    <div class="row cards_desktop">
      <div class="new-arrival">
        <div class="arrival-product">
          <div id="CarouselDesktop" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CA1Go1spZGQ/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/1.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CBGe1Gup53a/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/2.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CApvv-qpXx-/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/3.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAV5gunptyC/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/6.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7jDDU9JXnL/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/8.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAZKSR2JuGH/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/5.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAcXZOvJkhu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/4.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B9k4pHxJyhc/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/7.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7i_dgZJpXO/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/9.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7i9aCDJIeN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/10.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7KGEzPpcjb/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/11.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B3w92icJtqS/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/12.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
            </div>
            <div class="titlebar d-flex flex-row justify-content-center">
              <div class="next-back">
                <span><a data-slide="next" href="#CarouselDesktop" class="right carousel-control carrouselSlide">Anterior</a></span>
                <span><a data-slide="prev" href="#CarouselDesktop" class="left carousel-control carrouselSlide">Próximo</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row instagram_mobile">
      <div class="new-arrival">
        <div class="arrival-product">
          <div id="Carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CA1Go1spZGQ/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/1.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CBGe1Gup53a/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/2.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CApvv-qpXx-/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/3.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAV5gunptyC/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/6.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7jDDU9JXnL/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/8.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/CAZKSR2JuGH/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/5.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/CAcXZOvJkhu/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/4.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B9k4pHxJyhc/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/7.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7i_dgZJpXO/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/9.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B7i9aCDJIeN/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/10.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="arrival-item">
                  <Ul>
                    <li><a href="https://www.instagram.com/p/B7KGEzPpcjb/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/11.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                    <li><a href="https://www.instagram.com/p/B3w92icJtqS/" target="_blank"><img
                      src="../../assets/img/pagina_home/instagram/12.jpg" alt="Image" style="max-width:100%;"></a>
                    </li>
                  </Ul>
                </div>
              </div>
            </div>
            <div class="titlebar d-flex flex-row justify-content-center">
              <div class="next-back">
                <span><a data-slide="prev" href="#Carousel" class="left carousel-control carrouselSlide">Anterior</a></span>
                <span><a data-slide="next" href="#Carousel" class="right carousel-control carrouselSlide">Próximo</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-3 animacao" data-anime="bottom">
    
    <div class="row">
      
      <div class="col-6" >
        <img class="modeloDistr" src="../../assets/img/modelos/mod-col2.jpeg" alt="">
      </div>
      
      <div class="col-lg-6 col-md-12 col-sm-12 col-11 distribuidor">
        <h2 class="text-center mb-5">Venha ser um Distribuidor</h2>
        
        <div class="row justify-content-center">
          <p class="cor1 mb-4">Seja seu chefe, liberdade total para estabelecer suas próprias regras.</p>
        </div>
        
        <div class="row justify-content-center">
          <p class="cor2 mb-4">Lucro na revenda dos produtos.</p>
        </div>
        
        <div class="row justify-content-center">
          <p class="cor1 mb-4">Horário flexível, você define seu horário de trabalho.</p>
        </div>
        
        <div class="row justify-content-center">
          <p class="cor2 mb-4">Envio rápido dos produtos, via correios ou transportadora.</p>
        </div>
        
        <div class="row justify-content-center">
          <p class="cor1 mb-4">Sem consulta ao SPC/Serasa.</p>
        </div>
        
        <div class="row justify-content-center">
          <p class="cor2 mb-4">Compras realizadas diretas com seu consultor de vendas através de:</p>
        </div>
        
        <div class="row justify-content-center mb-3">
          <div class="col4">
            <p class="cor1 mb-4">Cartão de crédito</p>
          </div>
          <div class="col4 ml-3 mr-3">
            <p class="cor2 mb-4">Cartão de débito</p>
          </div>
          <div class="col4">
            <p class="cor1 mb-4">Boleto à vista</p>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <button class="btn" [routerLink]="['/contato']">TORNAR-SE DISTRIBUIDOR</button>
        </div>
        
      </div>
    </div>
  </div>
</main>