<nav id="navbar" class="container">

  <div class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand ml-3" routerLink='/home'><img class="logo" src="../../assets/img/logo oficial.png"
        alt="logo do site"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-3">
        <li class="nav-item">
          <a class="nav-link navegacao" [routerLink]="['/produtos']">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navegacao" [routerLink]="['/dicas']">Dicas e Tutoriais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navegacao" [routerLink]="['/contato']">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navegacao" [routerLink]="['/sobrenos']">Sobre nós</a>
        </li>
      </ul>

      <div id="buscar" class="mr-1">
        <input maxlength="15" class="inputBusca" placeholder="O que procura?" type="text">
      </div>

      <div>
        <ul>
          <li class="nav-item ">
            <button class="nav-link ">
              <fa-icon [icon]="faSearch" class="busca fa-lg"></fa-icon>
            </button>
          </li>
        </ul>
      </div>

      <div class="mr-3">
        <ul class="navbar-nav mr-auto ml-3">
          <li class="nav-item">
            <a class="nav-link borda" href="#" data-toggle="modal" data-target="#modalLogin">Login</a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link borda" href="" data-toggle="modal" data-target="#modalCadastro">Cadastro</a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link borda" [routerLink]="['/usuarios']">ADM</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>



<!-- Modal Login -->
<div class="modal" id="modalLogin">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title">
          <h5>Fazer login</h5>
        </div>
      </div>

      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Manter-me conectado</label>
          </div>
          <button type="submit" class="btn btn-primary mr-3">Login</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal cadastro -->
<div class="modal" id="modalCadastro">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title">
          <h3 style="text-align: center;">Crie sua conta</h3>
        </div>
      </div>

      <div class="modal-body">
        
        <div id="cadastro" class="container">
          <div class="caixa_cadastro">
            
            <div id="form_cadastro">
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" [(ngModel)]="user.email" [(ngModel)]="data.email" id="email">
                <span id="erro_email">O email deve ser válido!</span>
                <span id="vazio_email"> Campo obrigatório! </span>
              </div>
        
              <h3 style="text-align: center;">Tipo de conta</h3>
              
              <!-- <div class="row">
                <div class="col-3"></div>
                <div class="col-8">
                  <input (change)="cpf()" class="mr-1" type="radio" name="#" id="pf" value="pf" checked>
                  <label class="mr-2">Pessoa física</label>
        
                  <input (change)="cnpj()" class="mr-1 ml-2" type="radio" name="#" id="pj" value="pj">
                  <label>Pessoa jurídica</label>
                </div>
              </div> -->

              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input (change)="cpf()" type="radio" name="#" id="pf" value="pf" checked>Pessoa física
                </label>
                <label class="btn btn-secondary">
                  <input (change)="cnpj()" type="radio" name="#" id="pj" value="pj">Pessoa jurídica
                </label>
              </div>
              
              <!-- Dados conta PJ -->
              <div id="cnpj" class="caixa_cadastro">
                <h3>Dados da empresa</h3>

                
                <div>
                  <label for="validationDefault01">CNPJ</label>
                  <input type="text" class="form-control" [(ngModel)]="data.cnpj"  id="cadastroNPJ">
                  <span id="erro_cnpj"> O cnpj deve conter apenas números e deve ser válido! </span>
                  <span id="vazio_cnpj"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Razão social</label>
                  <input type="text" class="form-control" [(ngModel)]="data.razao_social" id="razaoSocial">
                  <span id="vazio_razaoSocial"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Nome comercial</label>
                  <input type="text" class="form-control" [(ngModel)]="data.nome_comercial" id="nomeComercial">
                  <span id="vazio_nomeComercial"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Inscrição estadual</label>
                  <input type="text" class="form-control" [(ngModel)]="data.inscricao_estadual" id="inscricaoEstadual">
                  <span id="vazio_inscricaoEstadual"> Campo obrigatório! </span>
                </div>
              </div>
              <!-- Fim dos Dados PJ -->
        
              <!-- Dados conta PF -->
              <div class="caixa_cadastro">
                <h3>Dados pessoais</h3>

                <div id="cpf">
                  <label for="validationDefault01">CPF</label>
                  <input type="text" class="form-control" [(ngModel)]="data.cpf"  id="cadastroPF">
                  <span id="erro_cpf">O cpf deve conter apenas números e deve ser válido!</span>
                  <span id="vazio_cpf"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Nome completo</label>
                  <input type="text" class="form-control" [(ngModel)]="user.nome" [(ngModel)]="data.nome"  id = "nome">
                  <span id="erro_nome">O nome deve ser completo!</span>
                  <span id="vazio_nome"> Campo obrigatório! </span>
                </div>

                <div id="nascimento">
                  <label for="validationDefault01">Data de nascimento</label>
                  <input type="date" class="form-control"  [(ngModel)]="data.data_nascimento" id="dataNascimento">
                  <span id="vazio_dataNascimento"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Senha</label>
                  <input type="password" class="form-control" [(ngModel)]="user.senha" [(ngModel)]="data.senha"  id="senha">
                  <span id="erro_senha"> A senha deve ter no mínimo 6 carácteres! </span>
                  <span id="vazio_senha"> Campo obrigatório! </span>
                </div>

                <div>
                  <label for="validationDefault01">Confirme a senha</label>
                  <input type="password" class="form-control" id="confirmaSenha" [(ngModel)]="data.senha_confirma">
                  <span id="erro_confirmaSenha"> Campos devem ser iguais! </span>
                </div>
              </div>
              <!-- Fim dos dados PF -->
        
              <button type="submit" class="btn btn-primary mt-3" (click)="validarCPF()" id="botaoCPF">Cadastrar</button>
              <button type="submit" class="btn btn-primary mt-3" (click)="validarCNPJ()" id="botaoCNPJ">Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
