*{
  font-family: 'Montserrat 400' !important;
}

*:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

textarea:focus, input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input:focus {
  border: 1.2px solid black;
}

h5 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

label{
  margin-top: 8px;
}
button.nav-link {
  box-shadow: none;
  background-color: transparent;
  margin-top: 15px;
  list-style-type: none;
}

.botao_cadastro:hover{
  color: white !important;
}

.navbar {
  background-color: #ffde59 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-wrap: nowrap;
  height: 60px;
  text-transform: uppercase;
}

.navbar img {
  margin-right: 5%;
}

.navbar img.humburger{
  height: 22px;
  margin-right: 5%; 
}

.navbar-dark .navbar-toggler {
  color: white;
  border: none;
  padding-left: 0;
}

.navbar ul.sidebar {
  max-width: 250px;
  background-color: #ffde59;
  position: absolute;
  top: 50px;
  right: -250px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  transition: all 0.1s ease-out;
  opacity: 0.5;
}

.navbar ul.sidebar li {
  margin: 8px;
}

.navbar ul.sidebar li a.text-reset {
  font-size: 20px !important;
}

.navbar.sidebar-open ul {
  right: 0;
  opacity: 1;
}

.navbar ul li {
  padding: 0 8px;
}

.navbar ul li.divider {
  border-bottom: black 1px solid;
  margin: 0.7em auto;
}

.desktop ul li {
  display: inline-block;
}

.desktop ul li a {
  color: black;
  text-decoration: none;
}

.navegacao:hover {
  border-bottom: 1px solid black;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}

/* Modal cadastro */
#cnpj {
  display: none;
}

#erro_senha, #erro_nome, #erro_confirmaSenha, #erro_cpf, #erro_cnpj, #erro_email, #vazio_senha, #vazio_nome, #vazio_cpf, #vazio_cnpj,
#vazio_email, #vazio_razaoSocial,  #vazio_nomeComercial, #vazio_inscricaoEstadual, #vazio_dataNascimento, #erro_dataNascimento, #erro_celular, #erro_telefoneComercial {  
  display: none;
  color: red;
}

#botaoCNPJ {
  display: none;
}
@media (min-width: 576px) {
  .navbar .form-control {
    max-width: 180px;
  }
}

@media (max-width: 991px) {
  .logoSite {
    margin: 0 auto;
    padding-right: 25px;
  }
}

@media (max-width: 1130px) {
  * {
    font-size: 14px;
  }

  .navbar ul li {
    padding: 0 7px;
  }
}

