textarea:focus, input:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#navbar {
  position: relative;
}

.logo {
  width: 150px;
  height: 60px;
}

.navbar {
	width: 100%;
	height: 70px;
	background-color: #ffde59;
	color: black;
	font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
}

.navbar ul li {
	display: inline-block;
  color: black;
}

.borda {
  color: black;
  border: 1px solid black;
  border-radius: 16px;
}

.borda:hover {
  border: 1.5px solid black;
}

.navegacao:hover {
  border-bottom: 1px solid black;
}

.busca {
  color: black;
}

#buscar {
  display: none;
}

.inputBusca {
  border-radius: 16px;
  padding-left: 5px;
  height: 35px;
}

button.nav-link {
  box-shadow: none;
  background-color: transparent;
  margin-top: 15px;
}

/* Modal cadastro */
#cnpj{
    display: none;
}

#erro_senha, #erro_nome, #erro_confirmaSenha, #erro_cpf, #erro_cnpj, #erro_email, #vazio_senha, #vazio_nome, #vazio_cpf,
#vazio_cnpj, #vazio_email, #vazio_razaoSocial, #vazio_nomeComercial, #vazio_inscricaoEstadual, #vazio_dataNascimento, #erro_dataNascimento{
    display: none;
    color: red;
}

input:focus {
  border: 2px solid rgb(255, 204, 0);
}
#botaoCNPJ{
  display:none
}