header.container-fluid {
    padding: 0;
  }

#titulo{
    padding-top: 100px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

#subtitulo{
    color: black;
     
}

#titulo1{
    text-align: center;
    margin-top: 3%; 
    color: black;
    
}
#imagem{ 
    text-align:center;
    margin-top: 20%;
}

#cards{
    text-align: left; 
    
    
}

#ancora {
    color: black;
}


#fundo{
    padding-bottom: 60px;
}


.accordion_mapasite {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion_mapasite:hover {
    background-color: #ccc; 
  }
  
  .accordion_mapasite:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }
  
  .panel_mapasite {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  h1 {
    font-weight: bold;
  }
 
  strong {
    font-weight: bold;
  }