<div id="fundo" class="container-fluid">
    <div class="mt-3">&nbsp;</div>
    <div class="row">

        <header class="container-fluid">
            <div class="parallax"></div>
          </header>
          
        <div class="col-md-12" id="titulo" >
       
            <h1 class="text-center" id="subtitulo">Explore o Site da ForQueens Professional</h1>
        </div>
    </div>
    
    <div id="mapa" class="container col-md-10 col-sm-10 col-lg-10">
                
        <div style="padding-top: 15px;">
          <button class="accordion_mapasite"><strong>Produtos</strong></button>
          <div class="panel_mapasite">
            <div class="card-body">
                <strong>Confira aqui os nossos Produtos: </strong>
                <a id="ancora" [routerLink]="['/produtos']"><li>Botox</li></a>
                <a id="ancora" [routerLink]="['/produtos']"><li>Hidratantes</li></a>
                <a id="ancora" [routerLink]="['/produtos']"><li>Máscaras</li></a>
                <a id="ancora" [routerLink]="['/produtos']"><li>Progressivas</li></a>
            </div>
          </div>
        </div>
    
        <div style="padding-top: 15px;">
          <button class="accordion_mapasite"><strong>Dicas e Tutoriais</strong></button>
          <div class="panel_mapasite">
                
                <p>Confira aqui algumas dicas e tutoriais que a ForQueens Professional separou para você!</p>
                
                <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
            
          </div>
        </div>
    
        <div style="padding-top: 15px;">
          <button class="accordion_mapasite"><strong>Política de Privacidade</strong></button>
          <div class="panel_mapasite">
            <p>Sabemos que você se preocupa com seus dados pessoais e como eles são usados, e queremos que confie que a ForQueens Professional use seus dados pessoais com cuidado.</p>
                <p>Clique e confira nossas políticas de privacidade.</p>
                <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
          </div>
        </div>
    
        <div style="padding-top: 15px;">
          <button class="accordion_mapasite"><strong>Perguntas Frequentes</strong></button>
          <div class="panel_mapasite">
            <p>Confira algumas dúvidas sanadas de outros clientes, talvez possá ajudá-lo(a) com a sua.</p>
                <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
          </div>
        </div>

        <div style="padding-top: 15px;">
          <button class="accordion_mapasite"><strong>Contato</strong></button>
          <div class="panel_mapasite">
            <p>Entre em contato conosco e nos dê sugestões, dúvidas ou reclamações.</p>
                <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/contato'">Entrar em Contato!</button>
          </div>
        </div>

        <div style="padding-top: 15px;">
            <button class="accordion_mapasite"><strong>Sobre Nós</strong></button>
            <div class="panel_mapasite">
                <p>Conheça mais sobre a ForQueens Professional e seus desenvolvedores.</p>
                <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
            </div>
          </div>
      </div>
  
</div>

