<div id="fundo" class="container-fluid">
    <div class="mt-3">&nbsp;</div>
    <div class="row">

        <header class="container-fluid">
            <div class="parallax"></div>
          </header>
          
        <div class="col-md-12" id="titulo" >
       
            <h2 class="text-center" id="subtitulo">Explore o site da ForQueens Professional</h2>
        </div>
    </div>
    
    <div class="mt-3">&nbsp;</div>  
    <div class="row" id="cards">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">

                            <button type="button" class="btn collapsed" data-toggle="collapse"
                                data-target="#collapseOne"><i class="fa fa-plus"></i><strong><span>Produtos</span></strong> </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <strong>Confira aqui os nossos Produtos: </strong>
                            <a id="ancora" [routerLink]="['/produtos']"><li>Botox</li></a>
                            <a id="ancora" [routerLink]="['/produtos']"><li>Hidratantes</li></a>
                            <a id="ancora" [routerLink]="['/produtos']"><li>Máscaras</li></a>
                            <a id="ancora" [routerLink]="['/produtos']"><li>Progressivas</li></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">

                            <button type="button" class="btn collapsed " data-toggle="collapse"
                                data-target="#collapseTwo"><i class="fa fa-plus"></i> <strong><span>Dicas e Tutoriais</span></strong> </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Confira aqui algumas dicas e tutoriais que a ForQueens Professional separou para você!
                            <br>
                            <br>
                            <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
                        </div>
                    </div>
                </div>
                

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">

                            <button type="button" class="btn collapsed " data-toggle="collapse"
                                data-target="#collapseThree"><i class="fa fa-plus"></i><strong><span>Política de Privacidade</span></strong> </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Sabemos que você se preocupa com seus dados pessoais e como eles são usados, e queremos que confie que a ForQueens Professional use seus dados pessoais com cuidado. 
                            <br>
                            Clique e confira nossas políticas de privacidade.
                            <br>
                            <br>
                            <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
                        </div>
                    </div>
                </div>
                

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">

                            <button type="button" class="btn collapsed " data-toggle="collapse"
                                data-target="#collapseFour"><i class="fa fa-plus"></i><strong><span>Perguntas Frequentes</span></strong> </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Confira algumas dúvidas sanadas de outros clientes, talvez possá ajudá-lo(a) com a sua.
                            <br>
                            <br>
                            <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">

                            <button type="button" class="btn collapsed " data-toggle="collapse"
                                data-target="#collapseSeven"><i class="fa fa-plus"></i><strong><span style="white-space: pre-line;">Sobre Nós</span></strong> </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Conheça mais sobre a ForQueens Professional e seus desenvolvedores.
                            <br>
                            <br>
                            <button id="botaoConfira" type="button" class="btn btn-outline-warning" [routerLink]="'/dicas'">Conferir!</button>
                        </div>
                    </div>
                </div>

            

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

