<div class="fundo">

  <div>
    <img class="banner_carrinho" src="../../assets/img/BannerCarrinho.jpg" alt="">
  </div>

  <div class="container">

    <h1 class="text-center">Carrinho</h1>
    <hr>
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
          <th>Produto</th>
          <th class="quantidade">Quantidade</th>
          <th class="qtd">Qtd.</th>
          <th>Preço unitário</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>
            <div class="media">
              <a class="thumbnail pull-left mr-3" data-toggle="modal" data-target="#modalProduto"> <img class="media-object"
                  src="../../assets/img/pagina_home/produtos/Botox Platinum.png"> </a>
              <div class="media-body">
                <h4>PLATINUN BLOND</h4>
                <h5>Botox</h5>
            
              </div>
            </div>
          </td>
          <td>1 <a href="#">X</a></td>
          <td>R$ 100.00</td>
          <td>R$ 100.00</td>
        </tr>
        <tr>
          <th colspan="3"><span class="pull-right">Subototal</span></th>
          <th>R$ 100.00</th>
        </tr>
        <tr>
          <th colspan="3"><span class="pull-right">Frete</span></th>
          <th>R$ 7.50</th>
        </tr>
        <tr>
          <th colspan="3"><span class="pull-right">Total</span></th>
          <th>R$ 107.50</th>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-primary">Continue comprando</a></td>
          <td colspan="3"><a href="#" class="pull-right btn btn-success">Finalizar</a></td>
        </tr>
      </tbody>
    </table>


    <!-- Modal Produto -->
    <div class="modal " id="modalProduto">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <div class="modal-body">
    
    
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/img/pagina_home/produtos/Botox Platinum.png" height="250px" class="card-img mt-4"
                  alt="Produto do site">
              </div>
    
              <div class="col-md-8">
    
                <div class="card-body">
                  <h5 class="card-title">PLATINUN BLOND</h5>
                  <p class="card-text"><strong>Categoria:</strong> Botox</p>
                  <p class="card-text"><strong>Descrição:</strong> Desenvolvidos com complexo Nanotecnológicos de ativos
                    reconstrutores e matizadores que reestruturam, alinham e
                    fortalecem os cabelos penetrando e preenchendo as falhas do cimento intercelular e das fibrilas do
                    Córtex.
                  </p>
                  <span class="textoCinza">Em estoque</span>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>











  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-12 ">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th></th>
              <th class="text-center">Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-sm-6 col-md-6">
                <div class="media">
                  <a class="thumbnail pull-left mr-3" href="#"> <img class="media-object"
                      src="../../assets/img/pagina_home/produtos/Botox Platinum.png"
                      style="width: 100px; height: 100px;"> </a>
                  <div class="media-body">
                    <h4>PLATINUN BLOND</h4>
                    <h5>Botox</h5>
                    
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <input type="email" class="form-control" id="exampleInputEmail1" value="1">
              </td>
              <td></td>
              <td class="col-sm-2 col-md-2 text-center"><strong>R$ 100.00</strong></td>
              <td class="col-sm-1 col-md-1">
                <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>Remover
                </button></td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td class="text-right">
                <h5><strong>R$ 100.00</strong></h5>
              </td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>
                <h5>Frete</h5>
              </td>
              <td class="text-right">
                <h5><strong>R$ 7.50</strong></h5>
              </td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>
                <h3>Total</h3>
              </td>
              <td class="text-right">
                <h5><strong>R$ 107.50</strong></h5>
              </td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td>
                <button type="button" class="btn btn-success">
                  Finalizar<span class="glyphicon glyphicon-play"></span>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

</div>