.modal {
  margin-top: 120px;
}

.textoCinza {
  color: grey;
  font-size: 22px;
}

.banner_carrinho{
  width: 100%;
}

.qtd{
  display: none;
}
.media a img{
  width: 70px;
  height: 70px;
}
@media (max-width : 525px){
  .banner_carrinho{
    display: none;
  }
  .media-body h4{
    font-size: 15px;
  }
  .quantidade{
    display: none;
  }
  .qtd{
    display: block;
  }
  
}
@media (max-width : 425px){
  *{
    font-size: 12px;
  }
  h1{
    font-size: 35px;
  }
  .media h4, h5{
    display: none;
  }
  .media a img{
    width: 60px;
    height: 60px;
  }
}