
h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}
 
.campos_contato {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

.icone_contato {
    padding: 9px;
    background: transparent;
    color: black;
    min-width: 50px;
    text-align: center;
}

input:focus, select:focus, textarea:focus {
    border: 1.2px solid black;
    box-shadow: none;
}

.caixa_mensagem{
    border: 1.5px solid rgb(169, 169, 169);;
}

.caixa_mensagem:focus{
    border: 1.5px solid black;
    box-shadow: none;
}

.map_mobile{
    display: none;
}

option:first-of-type {
    color: #999;
}

#pencil1{
    padding-top: 95px;
}
#observacao {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0;
}
#box_contato {
    margin-bottom: 20px;
    clear: both;
}

#erro_nome_contato, #vazio_nome_contato, #erro_email_contato, #vazio_email_contato, #erro_telefone, #vazio_telefone, #erro_celular, #vazio_celular, #vazio_assunto, #vazio_mensagem{
    display: none;
    color: red;
}

#botaocelular, #celular, #labelcelular{
    display: none;
}


@media (max-width: 1110px){
    #mapa{
        width: 360px;
        height: 345px;
    }
}


@media (max-width: 767px) {
    #informacoes_contato {
     display: none;
    }
    #mapa_mobile{
        width: 260px;
        height: 250px;
    }
    .map_mobile{
        margin-top: 30px;
        display: flex;
    }
    #botaocelular,#botaotelefone{
        width: 100%;
    }
   }