
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h6 {
    font-family: 'Raleway', sans-serif;
} 
.campos_contato {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.icone_contato {
    padding: 15px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
}
.cor_input_contato {
    border: 2px solid rgb(169, 169, 169);
    width: 100%;
    padding: 10px;
    outline: none;
}
.cor_input_contato:focus {
    border: 2px solid rgb(255, 204, 0);
}
.caixa_mensagem{
    border: 2px solid rgb(169, 169, 169);;
}
.caixa_mensagem:focus{
    border: 2px solid rgb(255, 204, 0);
    box-shadow: none;
}
.map_mobile{
    display: none;
}
#selecao_contato:focus{
    border-bottom: 2px solid white;
}
#pencil1{
    padding-top: 95px;
}
#observacao {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0;
}
#box_contato {
    margin-bottom: 20px;
    clear: both;
}

#erro_nome_contato, #vazio_nome_contato, #erro_email_contato, #vazio_email_contato, #erro_telefone, #vazio_telefone, #erro_celular, #vazio_celular, #vazio_assunto, #vazio_mensagem{
    display: none;
    color: red;
}

#botaocelular, #celular, #labelcelular{
    display: none;
}

@media (max-width: 1110px){
    #mapa{
        width: 360px;
        height: 345px;
    }
}


@media (max-width: 767px) {
    #map_contato {
     display: none;
    }
    #mapa_mobile{
        width: 260px;
        height: 250px;
    }
    .map_mobile{
        margin-top: 30px;
        display: flex;
    }
   }