<div class="container">
    <main>
        <h1 class="mt-5 pt-5 text-center">Meu Perfil</h1>
        <hr>

        <h4 class="mt-4 pt-4">Informações Da Conta</h4>
        <div class="row mt-2 pt-2">

            <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                <label for="">Nome</label>
                <input class="input-field form-control" type="text" value="{{nome}}" disabled>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                <label for="">CPF</label>
                <input class="input-field form-control" type="text" value="{{formatarCpf(cpf)}}" disabled>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 pt-3">
                <label for="">E-mail</label>
                <input class="input-field form-control" type="text" value="{{usuario}}" disabled>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                <label for="">Celular</label>
                <input class="input-field form-control" type="text" value="{{formatarNumero(celular)}}" disabled>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                <label for="">Data de Nascimento</label>
                <input class="input-field form-control" value="{{formatarData(dataNascimento)}}" disabled>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 pt-3 text-center">

            </div>
            <div class="d-flex justify-content-center col-md-12 col-lg-12 col-sm-12 mt-3">
                <button class="btn mr-4" id="btSalvar">Salvar</button>
                <button class="btn" data-toggle="modal" data-target="#alterar-senha">Alterar Senha</button>
            </div>
        </div>

        <!-- Modal senha -->
        <div class="modal fade" id="alterar-senha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alterar Senha</h5>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Senha Atual:</label>
                            <input class="input-field form-control" type="password">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Nova Senha:</label>
                            <input class="input-field form-control" type="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim modal senha -->

        <h4 class="mt-4 pt-4">Endereço</h4>
        <div class="card mt-4 enderecos" *ngFor="let endereco of listaEndereco">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <label class="col-md-2"><b>Rua:</b></label>
                        <input type="text" class="col-md-8 border-0" value="{{endereco.rua}}" disabled
                            style="background-color: transparent;">
                        <div class="col">
                            <button class="btn lixeira" (click)="pegarUmEndereco(endereco.codigoEndereco)"
                             data-toggle="modal" data-target="#editar-endereco" >
                                <fa-icon [icon]="faEdit" class="fa fa-lg"></fa-icon>
                            </button>
                        </div>

                        <div class="col">
                            <button class="btn lixeira" (click)="pegarUmEndereco(endereco.codigoEndereco)" data-toggle="modal"
                                data-target="#modal1" id="botaoApagar">
                                <fa-icon [icon]="faTrash" class="fa fa-lg"></fa-icon>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <label class="col-md-2"><b>Número:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.numero}}" disabled
                            style="background-color: transparent;">
                        <label class="col-md-2"><b>CEP:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.cep}}" disabled
                            style="background-color: transparent;">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <label class="col-md-2"><b>Estado:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.estado}}" disabled
                            style="background-color: transparent;">
                        <label class="col-md-2"><b>Cidade:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.cidade}}" disabled
                            style="background-color: transparent;">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <label class="col-md-2"><b>Bairro:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.bairro}}" disabled
                            style="background-color: transparent;">
                        <label class="col-md-2"><b>Complemento:</b></label>
                        <input type="text" class="col-md-4 border-0" value="{{endereco.complemento}}" disabled
                            style="background-color: transparent;">
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="listaEndereco.length==0" class="col md-12 text-center alert alert-warning" role="alert">Ainda não há endereços cadastrados.</div>

        <div class="row m-3 p-3">
            <div class="d-flex justify-content-center col-md-12 col-lg-12 col-sm-12 mt-3">
                <a class="btn" data-toggle="modal" data-target="#adicionar-endereco">Adicionar</a>
            </div>
        </div>

        <!-- Modal editar-endereço -->
        <div class="modal fade" id="editar-endereco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Endereço</h5>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-12 col-lg-12 col-sm-12 pt-3">
                            <label for="">Rua/Avenida</label>
                            <input [(ngModel)]="endereco.rua" value="" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Numero</label>
                            <input [(ngModel)]="endereco.numero" class="input-field form-control" type="text">
                        </div>                   
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">CEP</label>
                            <input [(ngModel)]="endereco.cep" class="input-field form-control" id="cep-input" type="text" mask="00000-000">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Estado</label>
                            <input [(ngModel)]="endereco.estado" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Cidade</label>
                            <input [(ngModel)]="endereco.cidade" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Bairro</label>
                            <input [(ngModel)]="endereco.bairro" class="input-field form-control" id="bairro-input" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Complemento</label>
                            <input [(ngModel)]="endereco.complemento" class="input-field form-control" id="complemento-input" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn" (click)="editarEndereco()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim modal editar -->


        <!-- Modal adicionar-endereço -->
        <div class="modal fade" id="adicionar-endereco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adicionar endereço</h5>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-12 col-lg-12 col-sm-12 pt-3">
                            <label for="">Rua/Avenida</label>
                            <input [(ngModel)]="endereco.rua" value="" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Numero</label>
                            <input [(ngModel)]="endereco.numero" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">CEP</label>
                            <input [(ngModel)]="endereco.cep" class="input-field form-control" id="cep-input"
                                type="text" mask="00000-000">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Estado</label>
                            <input [(ngModel)]="endereco.estado" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Cidade</label>
                            <input [(ngModel)]="endereco.cidade" class="input-field form-control" type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Bairro</label>
                            <input [(ngModel)]="endereco.bairro" class="input-field form-control" id="bairro-input"
                                type="text">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
                            <label for="">Complemento</label>
                            <input [(ngModel)]="endereco.complemento" class="input-field form-control"
                                id="complemento-input" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn" (click)="adicionarEndereco()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim modal adicionar -->

        <!-- Modal deletar endereco -->
        <div class="modal" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Você quer excluir este endereço?</h5>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center d-flex">
                        <button type="button" class="btn btn-secondary" (click)="deletarEndereco()">Sim</button>
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Não</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>