<div class="fundo mt-3" style="min-height: 500px;">
  <div class="container">
    <h1 class="text-center mb-5 mt-2">Minhas Compras</h1>
    <div class="row" *ngIf="carrinho.length > 0">
      <div class="container col-9">
        <table class="table table-bordered">
          <tr>
            <th width="30%">Imagem do produto</th>
            <th width="20%">Detalhes</th>
            <th width="50%">Valores</th>
          </tr>

          <tr *ngFor="let itemCarrinho of carrinho">
            <td>
              <img src="{{ itemCarrinho.urlImagem }}" width="100px" height="100px" class="imagem_produto" />
            </td>
            <td>
              <p>{{ itemCarrinho.nome }}</p>
              <p>R{{ itemCarrinho.valor | currency }}</p>
            </td>
            <td>
              <div class="items">
                <label>Quantidade:</label>

                <div class="row no-gutters">
                  <div class="col-2">
                    <button (click)="decrementarQuantidade(itemCarrinho)" class="btn btn-danger menos">
                      <fa-icon [icon]="faMinus" class="fa fa-lg"></fa-icon>
                    </button>
                  </div>

                  <div class="col-1" style="font-size: 18px; font-weight: 700; margin-top: 5px;">
                    {{ itemCarrinho.quantidade }}
                  </div>
                  <div class="col-2">
                    <button (click)="incrementarQuantidade(itemCarrinho)" class="btn btn-success mais">
                      <fa-icon [icon]="faPlus" class="fa fa-lg"></fa-icon>
                    </button>
                  </div>
                  <div class="col-2">
                    <button (click)="remover(itemCarrinho)" class="btn lixeira">
                      <fa-icon [icon]="faTrash" class="fa fa-lg"></fa-icon>
                    </button>
                  </div>
                </div>
                <div class="row pl-3">
                  <p class="mt-2">Subtotal: R{{ itemCarrinho.quantidade * itemCarrinho.valor | currency: 'USD' }}</p>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-3 dados_compra" style="max-height: 136px;">
        <div class="shadow-sm" style="padding:5px 15px !important;">
          <h5 style="font-weight: bolder;">Dados da compra</h5>
          <div style="font-weight: bold;">
            <p>Quantidade Total: {{ quantidadeTotal }}</p>
            <p>Frete: gratuito</p>
            <p>Valor total: R{{ valorTotal | currency }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="carrinho.length > 0">
      <div *ngIf="listaEndereco.length==0" class="col md-12 text-center alert alert-warning" role="alert">Ainda não há
        endereços cadastrados, para continuar a comprar, adicione um agora mesmo!</div>
      
      <div class="d-flex justify-content-end col-md-12 col-lg-12 col-sm-12 mt-5">
        <a *ngIf="listaEndereco.length>0" class="btn mr-4" data-toggle="modal" data-target="#alterar-endereco">Alterar</a>
        <a class="btn" data-toggle="modal" data-target="#adicionar-endereco">Adicionar novo endereço</a>
      </div>
      
      <div *ngIf="listaEndereco.length>0">
        <h5>Dados da Entrega</h5>
      
        <div class="card mt-4 enderecos" *ngFor="let endereco of listaEndereco">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <label class="col-md-2"><b>Rua:</b></label>
                <input type="text" class="col-md-3 border-0" value="{{endereco.rua}}" disabled
                  style="background-color: transparent;">
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <label class="col-md-2"><b>Estado:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.estado}}" disabled
                  style="background-color: transparent;">
                <label class="col-md-2"><b>Cidade:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.cidade}}" disabled
                  style="background-color: transparent;">
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <label class="col-md-2"><b>Bairro:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.bairro}}" disabled
                  style="background-color: transparent;">
                <label class="col-md-2"><b>Complemento:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.complemento}}" disabled
                  style="background-color: transparent;">
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <label class="col-md-2"><b>CEP:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.cep}}" disabled
                  style="background-color: transparent;">
                <label class="col-md-2"><b>Número:</b></label>
                <input type="text" class="col-md-4 border-0" value="{{endereco.numero}}" disabled
                  style="background-color: transparent;">
              </div>
            </li>
          </ul>
        </div>
      
        <br />
      
        <h5>Dados de pagamento</h5>
        <hr />
      
        <div class="form-row">
      
          <div class="form-group col-md-3">
            <select class="form-control">
              <option hidden value="">Selecione uma opção</option>
              <option value="dinheiro">Dinheiro</option>
              <option value="debito">Débito</option>
              <option value="debito">Crédito</option>
            </select>
          </div>
        </div>
      
        <hr />
        <div class="justify-content-end d-flex">
          <button type="submit" class="btn btn-lg" class="btn btn-primary" data-toggle="modal"
            data-target="#compraConfirmada">Confirmar Compra</button>
        </div>
      </div>
    </div>
    <div *ngIf="carrinho.length == 0" class="alert alert-warning col-md-12 text-center" role="alert">
      Seu carrinho de compras está vazio, vá para <a [routerLink]="['/produtos']"
        style="color:rgb(141,107,23)">Produtos</a> e comece suas compras!
    </div>
    <button></button>
  </div>
</div>

<!-- Modal adicionar-endereço -->
<div class="modal fade" id="adicionar-endereco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar endereço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-12 col-lg-12 col-sm-12 pt-3">
          <label for="">Rua/Avenida</label>
          <input [(ngModel)]="endereco.rua" value="" class="input-field form-control" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">Estado</label>
          <input [(ngModel)]="endereco.estado" class="input-field form-control" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">Cidade</label>
          <input [(ngModel)]="endereco.cidade" class="input-field form-control" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">Bairro</label>
          <input [(ngModel)]="endereco.bairro" class="input-field form-control" id="bairro-input" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">Complemento</label>
          <input [(ngModel)]="endereco.complemento" class="input-field form-control" id="complemento-input" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">CEP</label>
          <input [(ngModel)]="endereco.cep" class="input-field form-control" id="cep-input" type="text">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 pt-3">
          <label for="">Numero</label>
          <input [(ngModel)]="endereco.numero" class="input-field form-control" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn" (click)="adicionarEndereco()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal alterar endereço-->
<div class="modal fade" id="alterar-endereco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar Endereço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mt-4" *ngFor="let endereco of listaEndereco">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Rua:
                  {{endereco.rua}}, {{endereco.numero}} </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal compra finalizada -->
<div class="modal fade" id="compraConfirmada" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Compra realizada com sucesso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Obrigado por comprar com nós!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmarCompra()" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>