* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat 400';
  color: #2a2e2e;
}

.fundo {
  background-color: white;
  padding: 60px 0 30px 0;
}

.btn{
  background: -webkit-linear-gradient(150deg, rgba(42, 42,46, 0.9) 20%, rgba(42, 42 , 46, 0.4) 50%, rgba(42, 46 ,46,0)80%);  
  background: -moz-linear-gradient(150deg, rgba(42, 42,46,0.9) 20%, rgba(42, 42,46,0.4) 50%, rgba(42, 42,46,0) 80%);  
  background: -o-linear-gradient(150deg, rgba(42, 42,46,0.9)20%, rgba(42, 42,46,0.4) 50%, rgba(42, 42,46 ,0) 80%);  
  background: linear-gradient(150deg, rgba(42, 42,46,0.9)20%, rgba(42, 42,46,0.4) 50%, rgba(42, 42,46 ,0) 80%);  
  background-size: 300%;
  -webkit-transition:.5s;  
  -moz-transition:.5s;  
  -o-transition:.5s;  
  transition:.5s;  
  font-family: 'Montserrat 400';
  color: white !important;
  border-color: #2e2e2e !important;
}

.btn:hover{
  background-position: right;
  color: black !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  background-color: #2a2e2e;
  color: #F8F9F9 !important;
  box-shadow: none !important;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(assets/fonts/PlayfairDisplayItalic.ttf) format("opentype")
}



@font-face {
  font-family: 'Montserrat 200';
  src: url(assets/fonts/Montserrat-ExtraLight-200.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 400';
  src: url(assets/fonts/Montserrat-Regular-400.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 600';
  src: url(assets/fonts/Montserrat-SemiBold-600.ttf) format("opentype")
}

h1{
  font-family: 'Montserrat 600'!important;
  color: #2a2e2e !important;
}
h2{
  font-family: 'Montserrat 600'!important;
  color: #2a2e2e !important;
}


