* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat 400';
  color: #2a2e2e;
}

.fundo {
  background-color: white;
  padding: 60px 0 30px 0;
}

.btn{
  background: -webkit-linear-gradient(to right, rgba(247, 220 , 111, 1) 30%, rgba(247, 220 , 111, 0.85) 60%, rgba(247, 220 , 111,0.5)90%);  
  background: -moz-linear-gradient(to right, rgba(247, 220 , 111,1)30%, rgba(247, 220 , 111,0.85) 60%, rgba(247, 220 , 111,0.5)90%);  
  background: -o-linear-gradient(to right, rgba(247, 220 , 111,1)30%, rgba(247, 220 , 111,0.85) 60%, rgba(247, 220 , 111,0.5)90%);  
  background: linear-gradient(to right, rgba(247, 220 , 111,1)30%, rgba(247, 220 , 111,0.85) 60%, rgba(247, 220 , 111,0.5)90%);  
  background-size: 300%;
  -webkit-transition:.7s;  
  -moz-transition:.7s;  
  -o-transition:.7s;  
  transition:.7s;  
  font-family: 'Montserrat 400';
  color: #2a2e2e !important;
  border-color: #2a2e2e !important;
}

.btn:hover{
  background-position: right; 
}

.btn:focus, .btn:active {
  outline: none !important;
  background-color: #2a2e2e;
  color: #F8F9F9 !important;
  box-shadow: none !important;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(assets/fonts/PlayfairDisplayItalic.ttf) format("opentype")
}



@font-face {
  font-family: 'Montserrat 200';
  src: url(assets/fonts/Montserrat-ExtraLight-200.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 400';
  src: url(assets/fonts/Montserrat-Regular-400.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 600';
  src: url(assets/fonts/Montserrat-SemiBold-600.ttf) format("opentype")
}

h1{
  font-family: 'Montserrat 600'!important;
  color: #2a2e2e !important;
}
h2{
  font-family: 'Montserrat 600'!important;
  color: #2a2e2e !important;
}


