* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat 200';
}

.fundo {
  background-image: linear-gradient(white,#d9d9d9);
  padding: 60px 0 30px 0;
}

.btn{
  font-family: 'Montserrat 400';
  background-color:rgb(255, 222, 89);
  color: black;
  border-color: black !important;
}

.btn:hover{
  background-color:black;
  color: rgb(255, 222, 89) !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  background-color: black;
  color: rgb(255, 222, 89) !important;
  box-shadow: none !important;
}


@font-face {
  font-family: 'Playfair Display';
  src: url(assets/fonts/PlayfairDisplayItalic.ttf) format("opentype")
}



@font-face {
  font-family: 'Montserrat 200';
  src: url(assets/fonts/Montserrat-ExtraLight-200.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 400';
  src: url(assets/fonts/Montserrat-Regular-400.ttf) format("opentype")
}

@font-face {
  font-family: 'Montserrat 600';
  src: url(assets/fonts/Montserrat-SemiBold-600.ttf) format("opentype")
}

h1{
  font-family: 'Montserrat 600'!important;
}


