* {
  margin: 0;
  padding: 0;
  border: 0;
}

.fundo {
  background-image: linear-gradient(white,#d9d9d9);
  padding: 70px 0 30px 0;
}

.botao_home {
    border: 2px solid black;
    padding: 10px 30px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.botao_home:hover {
    color: #fec63e;
    border-color: #fec63e;
}

@font-face {
  font-family: 'Raleway';
  src: url(assets/fonts/Raleway-Light.ttf) format("opentype");
}
