.QNano {
  padding-bottom: 10px;
  height: 200px;
}

h1 {
  font-weight: bold;
}

h5 {
  font-size: 23px;
  font-weight: bold;
}

p {
  
  text-align: left;
}

@media (max-width: 767px) {

  h5 {
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

}