<main class="fundo">
  <div class="container">

    <h1 style="text-align: center;">Venha ver algumas dicas e tutoriais</h1>
    <hr class="mb-4">

    <div class="row">

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho
                tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho
                tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho
                tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho
                tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-6 col-sm-12 col-lg-6" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/pagina_home/lancamentos/lancamento1.webp" class="card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shampo</h5>
              <p class="card-text">O Shampoo Banho de Verniz limpa e repara levemente os fios, devolvendo vitalidade e
                brilho
                tridimensional a todos os
                tipos de cabelos.</p>
              <button class="botao_home mr-5">VER VIDEO</button>
              <button class="botao_home" [routerLink]="['/contato']">DAR SUGESTÃO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>