h1 {
  font-weight: bold;
}

h5 {
  font-size: 23px;
  font-weight: bold;
}

p {
  
  text-align: left;
}

@media (max-width:1200){
  .Qnano{
    max-height: 153.11px !important;
  }
}

@media (max-width: 767px) {

  h5 {
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

}