<main class="fundo">
  <div class="container mb-3 mt-3">

    <h1 class="text-center mt-4 pt-4">Dicas e Tutoriais</h1>
    <hr class="mb-4 pb-4">

    <div class="row justify-content-center">
      <div class="card mb-3 ml-3 col-md-5 col-sm-10 col-lg-5 shadow-sm" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../assets/img/pagina_home/produtos/Clean Plus + Essence Liss.png"
              class="imgProduto card-img mt-4" alt="Produto do site">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Kit Essence Liss</h5>
              <p class="card-text">Proporciona um liso divino e absoluto, já na primeira aplicação, não quebra os fios,
                dá um resultado perfeito.</p>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-center">    
              <button class="btn mb-4" data-toggle="modal" data-target="#cleanPlus">VER VÍDEO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-5 col-sm-10 col-lg-5 shadow-sm" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../assets/img/pagina_home/produtos/QNanoPlex.png" class="Qnano imgProduto card-img mt-4"
              alt="Produto do site">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Q-Nano Plex</h5>
              <p class="card-text">O reconstrutor contém complexos nanotecnológicos que reconstroem cabelos destruídos
                quimicamente.</p>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-center">
              <button class="btn mb-4" data-toggle="modal" data-target="#QNano">VER VÍDEO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-5 col-sm-10 col-lg-5 shadow-sm" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../assets/img/pagina_home/produtos/Nutrition Rose Shamppo + Hidr..png"
              class="imgProduto card-img mt-4" alt="Produto do site">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Kit Nutrition Rose</h5>
              <p class="card-text">Ideal para a recuperação de cabelos porosos, danificados e quebradiços, nutrição e
                hidratação.</p>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-center">
              <button class="btn mb-4" data-toggle="modal" data-target="#nutritionRose">VER VÍDEO</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 ml-3 col-md-5 col-sm-10 col-lg-5 shadow-sm" style="max-width: 546px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../assets/img/pagina_home/produtos/QQ-Cream.png"
              class=" imgProduto card-img mt-4" alt="Produto do site">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">QQ Cream</h5>
              <p class="card-text">Tratamento multifuncional que reúne diversos benefícios em um único produto, é
                enriquecido com Sericina.</p>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-center">
              <button class="btn mb-4" data-toggle="modal" data-target="#QQClean">VER VÍDEO</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modais -->

    <div class="modal" id="cleanPlus">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-body">

            <div class="row no-gutters">
              <div class="col-md-12">
                <div>

                  <video controls>
                    <source  src="../../assets/video/essence-liss.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="QNano">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <div class="modal-body">
    
            <div class="row no-gutters">
              <div class="col-md-12">
                <div>
    
                  <video controls>
                    <source src="../../assets/video/QNano.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="nutritionRose">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <div class="modal-body">
    
            <div class="row no-gutters">
              <div class="col-md-12">
                <div>
    
                  <video controls>
                    <source src="../../assets/video/nutrition-rose.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="QQClean">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <div class="modal-body">
    
            <div class="row no-gutters">
              <div class="col-md-12">
                <div>
    
                  <video controls>
                    <source src="../../assets/video/QQ cream.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</main>