

<main class="fundo">
  <header class="container-">
    <!-- <div class="parallax"></div> -->
  </header>
  <div id="politica" class="container col-md-10 col-sm-10 col-lg-10">

    <h1 id="titulo" style="text-align: center;">Política de Privacidade</h1>
    <hr>

    <p>Sabemos que você se preocupa com seus dados pessoais e como eles são usados, queremos sua confiança para a forma que a ForQueens Professional
      usará seus dados pessoais com cuidado. Este aviso de privacidade ajudará você a entender quais dados pessoais coletamos, porquê os coletamos e o que fazemos com eles.</p>
    <p>Reserve um momento para se familiarizar com nossas práticas de privacidade e informe-nos se você tiver alguma dúvida, enviando-nos um e-mail ou enviando uma solicitação através do formulário "Contato" em nosso site.</p>
    <hr>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Direitos do usuário</strong></button>
      <div class="panel_politica">
        <p>O site se compromete a cumprir as normas previstas no RGPD, em respeito aos seguintes princípios:</p>
        <P>- Os dados pessoais do usuário serão processados de forma lícita, leal e transparente (licitude, lealdade e transparência);</P>
        <p>- Os dados pessoais do usuário serão coletados apenas para finalidades determinadas, explícitas e legítimas, não podendo ser tratados posteriormente de uma forma incompatível com essas finalidades (limitação das finalidades);</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Quais dados pessoais estão sendo coletados?</strong></button>
      <div class="panel_politica">
        <p>Você não é obrigado a fornecer à ForQueens Professional os dados pessoais que solicitamos, mas se você optar por não fazê-lo, talvez não possamos fornecer nossos produtos ou serviços, prestando-os com alta qualidade ou responder a quaisquer perguntas que você desejar.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Para que finalidade usamos seus dados?</strong></button>
      <div class="panel_politica">
        <p>Coletamos, processamos e divulgamos seus dados pessoais apenas para fins específicos e limitados. Por
          exemplo, para processar seus pagamentos, avaliar e lidar com qualquer reclamação, desenvolver e melhorar nossos produtos, serviços, métodos de comunicação e a funcionalidade de nossos sites, fornecer produtos personalizados, comunicações e publicidade direcionada, além de recomendações de produtos.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Com quem será compartilhado?</strong></button>
      <div class="panel_politica">
        <p>A ForQueens Professional compartilha seus dados pessoais internamente e com terceiros selecionados.
          Por exemplo,compartilhamos seus dados pessoais com provedores de serviços terceirizados, outros terceiros, bem como no caso de transferências comerciais ou divulgação legal.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Quais são os seus direitos?</strong></button>
      <div class="panel_politica">
        <p>Seus direitos em relação aos seus dados pessoais como eles são processados. Você pode exercer esses direitos a qualquer momento. Você pode exercer seus direitos enviando um e-mail ou enviando uma solicitação através do formulário "Contato" em nosso site.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Durante quanto tempo guardamos os seus dados pessoais??</strong></button>
      <div class="panel_politica">
        <p>Manteremos os seus dados pessoais durante tanto tempo quanto deles necessitarmos para a finalidade para a qual são tratados. Por exemplo, quando efetuar uma compra online, manteremos os dados relativos à sua compra, para que possamos cumprir o contrato específico que celebrou, após o que manteremos os seus dados pessoais durante um período que nos permita lidar ou responder a quaisquer queixas, questões ou preocupações relativas à compra. 
          <br>
          <br>
          Os seus dados poderão também ser guardados para que possamos continuar a melhorar a sua experiência conosco e assegurar que recebe quaisquer prémios de lealdade a que tenha direito. 
          <br>
          <br>
          Guardamos os dados identificáveis que coletamos diretamente para fins específicos, durante o mínimo tempo possível, após o qual tomaremos medidas para os apagar definitivamente.  
          <br>
          <br>
          Reveremos ativamente os dados pessoais que detemos e apagaremos de modo seguro, ou em alguns casos anonimizaremos, quando cessar a obrigação legal, comercial ou do consumidor para que sejam mantidos. </p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica"><strong>Quais são os seus direitos?</strong></button>
      <div class="panel_politica">
        <p>Seus direitos em relação aos seus dados pessoais como eles são processados. Você pode exercer esses direitos a qualquer momento. Você pode exercer seus direitos enviando um e-mail ou enviando uma solicitação através do formulário "Contato" em nosso site.</p>
      </div>
    </div>

  </div>
</main>