<main class="fundo">
  <div id="politica" class="container col-md-10 col-sm-10 col-lg-10">

    <h1 style="text-align: center;">Política de privacidade</h1>
    <hr>

    <p>Sabemos que você se preocupa com seus dados pessoais e como eles são usados, e queremos que confie que a Unilever
      use seus dados pessoais com cuidado. Este aviso de privacidade ajudará você a entender quais dados pessoais
      coletamos, porquê os coletamos e o que fazemos com eles.</p>
    <p>Ao ler nosso aviso, lembre-se de que ele se aplica a todas as empresas do Grupo Unilever, conforme definido
      abaixo.</p>
    <p>Reserve um momento para se familiarizar com nossas práticas de privacidade e informe-nos se você tiver alguma
      dúvida,
      enviando-nos um e-mail ou enviando uma solicitação através do formulário "Fale Conosco" em nossos sites.</p>
    <hr>

    <div style="padding-top: 15px;">
      <button class="accordion_politica">Direitos do usuário</button>
      <div class="panel_politica">
        <p>O site se compromete a cumprir as normas previstas no RGPD, em respeito aos seguintes princípios:</p>
        <P>- Os dados pessoais do usuário serão processados de forma lícita, leal e transparente (licitude, lealdade e
          transparência);</P>
        <p>- Os dados pessoais do usuário serão coletados apenas para finalidades determinadas, explícitas e legítimas,
          não podendo ser tratados posteriormente de uma forma incompatível com essas finalidades (limitação das finalidades);</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica">Quais dados pessoais estão sendo coletados?</button>
      <div class="panel_politica">
        <p>Você não é obrigado a fornecer à ForQueens os dados pessoais que solicitamos, mas se você optar por não
          fazê-lo, talvez não possamos fornecer nossos produtos ou serviços, prestando-os com alta qualidade ou responder a
          quaisquer perguntas que você desejar.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica">Para que finalidade usamos seus dados?</button>
      <div class="panel_politica">
        <p>Coletamos, processamos e divulgamos seus dados pessoais apenas para fins específicos e limitados. Por
          exemplo, para processar seus pagamentos, avaliar e lidar com qualquer reclamação, desenvolver e melhorar nossos produtos,
          serviços, métodos de comunicação e a funcionalidade de nossos sites, fornecer produtos personalizados, comunicações e
          publicidad direcionada, além de recomendações de produtos.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica">Com quem será compartilhado?</button>
      <div class="panel_politica">
        <p>A ForQueens compartilha seus dados pessoais internamente e com terceiros selecionados.
          Por exemplo,compartilhamos seus dados pessoais com provedores de serviços terceirizados, outros terceiros, bem como no
          caso de transferências comerciais ou divulgação legal.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_politica">Quais são os seus direitos?</button>
      <div class="panel_politica">
        <p>Seus direitos em relação aos seus dados pessoais como eles são processados. Você pode exercer esses direitos
          a qualquer momento. Fornecemos uma visão geral desses direitos abaixo, juntamente com o que isso implica para você. Você
          pode exercer seus direitos enviando um e-mail ou enviando uma solicitação através do formulário "Fale conosco" em
          nossos sites.</p>
      </div>
    </div>
  </div>
</main>