<main class="fundo">

  <header class="container-">
    <!-- <div class="parallax"></div> -->
  </header>

  <div id="faq" class="container col-md-10 col-sm-10 col-lg-10">

    <h1 id="titulo" style="text-align: center;">Perguntas Frequentes
      <hr>
    </h1>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Os produtos têm certificado da ANVISA?</strong></button>
      <div class="panel_faq">
        <p class="text-center">Todos os produtos da ForQueens Professional possuem certificação da ANVISA (Agência Nacional de Vigilância Sanitária)  .</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Os produtos passaram por testes dematológicos?</strong></button>
      <div class="panel_faq">
        <p class="text-center">Sim, todos os produtos da ForQueens Professional passam por testes dermatológicos antes de chegarem ao
          consumidor, garantindo assim, a sua integridade.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Posso encontrar as formulações em outros países?</strong></button>
      <div class="panel_faq">
        <p class="text-center">A ForQueens Professional é uma marca brasileira. Todas as formulações da ForQueens Professional são desenvolvidas para oferecer os
          melhores benefícios possíveis para diferentes tipos de cabelo e diferentes necessidades do cabelo especificamente no Brasil.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Vocês aceitam pagamentos via boleto bancário?</strong></button>
      <div class="panel_faq">
        <p class="text-center">No momento não estamos trabalhando com a opção de boleto bancário, os pagamentos são realizados apenas por cartões de Crédito e Débito.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Qual é o ativo utilizado na progressiva Essence Liss?</strong></button>
      <div class="panel_faq">
        <p class="text-center">A Essence Liss é formulada com BLEND de Aminoácidos e Proteínas. 0% FORMOL Contém ARGAN, OJON, MACADÂMIA, PROTEÍNA DA SEDA, SERICINA E AINDA VITAMINAS A e E. O ácido responsável pelo alisamento é o Ácido Glioxílico.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Qual é o ativo utilizado na progressiva Master Liss com formol?</strong></button>
      <div class="panel_faq">
        <p class="text-center">A progressiva semidefinitiva MASTER LISS é formulada com óleos essenciais, luna system e complexhidra.
          Enriquecida com argam e ojon.
          Suas  propriedades protegem os fios durante a aplicação evitando danos.
          Com inibidor para melhorar o processo. Alisa 100%, promovendo um brilho maravilhoso devolvendo a vitalidade para os cabelos.</p>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <button class="accordion_faq"><strong>Quais são as formas de envio dos produtos?</strong></button>
      <div class="panel_faq">
        <p class="text-center">A forma de envio é atraves do Correios, aonde é feito o cálculo do valor cobrado no frete e o prazo para a entrega.</p>
      </div>
    </div>


  </div>
</main>