<main id="faq" class="container col-md-10 col-sm-10 col-lg-10">

  <h1 style="text-align: center;">Perguntas Frequentes
    <hr>
  </h1>

  <div style="padding-top: 15px;">
    <button class="accordion_faq">NA PARTE DE TRÁS DA EMBALAGEM DIZ “NOSSAS MELHORES FÓRMULAS”, POR QUÊ?</button>
    <div class="panel_faq">
      <p>For Queens realizou testes quantitativos com consumidoras no Brasil e México testando diferentes tecnologias de
        Shampoos e Condicionadores de suas principais plataformas de produtos. Com base nesses resultados foram lançadas
        as melhores formulações testadas.</p>
    </div>
  </div>
  <div style="padding-top: 15px;">
    <button class="accordion_faq">OS PRODUTOS PASSARAM POR TESTES DERMATOLÓGICOS?</button>
    <div class="panel_faq">
      <p>Sim, todos os produtos da For Queens passam por detalhados testes dermatológicos antes de chegarem ao
        consumidor, garantido assim, a sua integridade.</p>
    </div>
  </div>
  <div style="padding-top: 15px;">
    <button class="accordion_faq">POSSO ENCONTRAR AS FORMULAÇÕES EM OUTROS PAÍSES?</button>
    <div class="panel_faq">
      <p>For Queens é uma marca brasileiora. Todas as formulações For Queens são desenvolvidas para oferecer os melhores
        benefícios possíveis para diferentes tipos de cabelo e diferentes necessidades do cabelo especificamente no
        Brasil. Porem, com o crescimento da marca e a expansão para outros países a formulação e as variantes podem não
        ser as mesmas em outras partes do mundo.</p>
    </div>
  </div>
  <div style="padding-top: 15px;">
    <button class="accordion_faq">QUAL O MELHOR LUGAR PARA COMPRAR MEUS PRODUTOS SEDA FAVORITOS?</button>
    <div class="panel_faq">
      <p>Os produtos For Queens são vendidos em hipermercados, super mercados e farmácias de todo o país. Embora
        gostaríamos de estar presente em todas as prateleiras de todos os lugares, às vezes temos limitações nas compras
        dos varejistas.</p>

      <p>Se você não está conseguindo localizar algum produto For Queens, tente buscar no site da marca o melhor mercado
        online para comprar nossos produtos.</p>

      <p>Se ainda assim você não conseguir localizar nossos produtos, ligue para o nosso atendimento: 08007077512 ou nos
        mande um e-mail: forqueens@gmail.com</p>
    </div>
  </div>
</main>
