<main class="fundo">

  <div id="faq" class="container col-md-10 col-sm-10 col-lg-10">

    <h1 style="text-align: center;">Perguntas frequentes
      <hr>
    </h1>

    <div style="padding-top: 15px;">
      <button class="accordion_faq">NA PARTE DE TRÁS DA EMBALAGEM DIZ “NOSSAS MELHORES FÓRMULAS”, POR QUÊ?</button>
      <div class="panel_faq">
        <p>ForQueens realizou testes quantitativos com consumidoras no Brasil testando diferentes tecnologias
          de shampoos e condicionadores de suas principais plataformas de produtos. Com base nesses resultados foram
          lançadas as melhores formulações testadas.</p>
      </div>
    </div>
    <div style="padding-top: 15px;">
      <button class="accordion_faq">OS PRODUTOS PASSARAM POR TESTES DERMATOLÓGICOS?</button>
      <div class="panel_faq">
        <p>Sim, todos os produtos da ForQueens passam por detalhados testes dermatológicos antes de chegarem ao
          consumidor, garantindo assim, a sua integridade.</p>
      </div>
    </div>
    <div style="padding-top: 15px;">
      <button class="accordion_faq">POSSO ENCONTRAR AS FORMULAÇÕES EM OUTROS PAÍSES?</button>
      <div class="panel_faq">
        <p>For Queens é uma marca brasileira. Todas as formulações For Queens são desenvolvidas para oferecer os
          melhores benefícios possíveis para diferentes tipos de cabelo e diferentes necessidades do cabelo especificamente no
          Brasil.</p>
      </div>
    </div>
  </div>
</main>