p {
	text-align: justify;
}

h1 {
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 30px;
}

.infor_direita {
	height: 250px;
	width: 100%;
	margin-top: 40px;	
}

.infor_esquerda {
	height: 250px;
	width: 100%;
	margin-top: 40px;
}

.tema_sobre {
	text-align: center;
}

.foto_grupo {
	width: 100%;
	height: 270px;
}

.foto_direita {
	float: right;	
}

.texto_direita{
	text-align: end;
}

.aparecer {
	display: none;
}

[data-anime] {
  opacity: 0;
  transition: .8s;
}

[data-anime="bottom"] {
  transform: translate3d(0, 150px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media(max-width: 991px){
	p{
		font-size: 15px;
	}
	h4 {
		font-size: 25px;
	}
	h1{
		font-size: 30px;
	}
}

@media(max-width: 771px){
	.foto_grupo{
		height: 250px
	}
	h4 {
		font-size: 21px;
	}
	h1{
		font-size: 25px;
	}
	p{
		line-height: 18px;
		font-size: 13px;
	}
}

@media(max-width: 705px){

	/* INÍCIO MAIN */
	#tema_equipe {
		margin-top: 55px;
		margin-bottom: 65px;
		text-align: center;
		padding: 15px;
	}

	.infor_direita {
		width: 100%;
		height: auto;
		margin-top: 40px;
		text-align: center;
	}

	.texto_direita{
		text-align: center;
	}
	
	.foto_direita {
		float: none;
	}

	.reposicao{
		position: absolute;
		bottom: 0;
	}

	.infor_esquerda {		
		width: 100%;
		height: auto;
		margin-top: 80px;
		clear: both;
		text-align: center;
	}

	.tema_sobre {
		text-align: center;
		padding-top: 10px;
	}

	.foto_grupo {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.aparecer{
		display: block;
	}

	.sumir {
		display: none;
	}

	#edu_foto{
		margin-top: 40px;
	}

}
