<main class="fundo">
  <div id="tema_equipe" class="container col-md-12 col-sm-12 col-lg-11">
    
    <h1 class="tema_sobre mt-4 pt-4">ForQueens Professional
      <hr>
    </h1>
    
    <p>A ForQueens Professional nasceu de um sonho e está preparada para revolucionar o seu negócio, desenvolvida por profissionais com grande experiência no mundo dos cosméticos, tem seu sucesso no mercado, ao fato de ter muito bem sedimentado o conceito de fabricar produtos somente de qualidade para uso profissional.</p>
    <p> Com sua atividade voltada em atender os melhores cabeleireiros, salões, estúdios e hair stylists, de acordo com suas necessidades e tendências do mundo da beleza. A marca ForQueens Professional vem conquistando o sucesso através do equilíbrio entre as áreas envolvidas desde a criação até à venda do produto. Não conta com linha de outros tipos de cosméticos, o que lhe permite um aprimoramento no desenvolvimento de produtos para cabelos. A maneira de analisar e tratar é identificando o que cada cliente necessita é um ponto fundamental.
    Suas formulações foram elaboradas com a mais alta tecnologia, utilizando princípios ativos e nutrientes mais eficazes que intensificam e prolongam a vida dos cabelos. Além disso, a ForQueens se preocupa em capacitar e aprimorar os profissionais da área que a utilizam para realizar diagnósticos e tratamentos personalizados para os seus clientes, qualificando nossos profissionais. A ForQueens Professional, conta com uma completa linha de produtos para limpar, hidratar, alisar e restaurar os fios danificados.</p>
    <p>Contamos com produtos que dão um ânimo moderno e audacioso, com tratamentos inovadores e de alta tecnologia, sempre com foco nas particularidades de cada tipo de cabelo atendendo assim a necessidade de nossos clientes.</p>
    
    <div class="mt-3 mb-2">
      <h1 class="tema_sobre mt-5 pt-5">Equipe de Desenvolvedores
        <hr>
      </h1>
    </div>
    
    

    <div class="infor_esquerda row mt-2 pt-4 mb-2" data-anime="bottom">
      <div class="col-md-4 col-sm-6 col-lg-4">
        <img class="foto_grupo rounded-circle" src="../../assets/img/membros/Eduardo.jpeg" z alt="Eduardo">
        <div class="justify-content-center d-flex mt-2">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-lg-8">
        <div class="div_esquerda">
          <h4>Eduardo Alves</h4>
          <h5 style="color:#545454;">Desenvolvedor Web Fullstack</h5>
          <p>19 anos, sempre ativo e em busca de conhecimento, adora o saber e o poder atribuído a ele. Nascido na cidade de São Paulo, apaixonou-se pelo mundo da tecnologia iniciando sua vida profissional na área de Tecnologia da Informação como suporte técnico, e hoje busca aprender e desenvolver projetos voltados a área. Atualmente faz faculdade de Engenharia de Automação e Robótica na Universidade Federal do ABC.</p>
        </div>
      </div>
    </div>

    <div class="infor_direita row mt-5 mb-2" data-anime="bottom">
      <div class="col-md-4 col-sm-6 col-lg-4 aparecer" >
        <img class="foto_grupo foto_direita rounded-circle" src="../../assets/img/membros/Jonathan.jpg" alt="Jonathan">
        <div class="justify-content-center d-flex mt-2" style="clear: both;">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>

      <div class=" col-md-8 col-sm-6 col-lg-8">
        <div class="div_direita">
          <h4 class="texto_direita ">Jonathan Dias</h4>
        <h5 class="texto_direita" style="color:#545454;">Desenvolvedor Web Fullstack</h5>
        <p>22 anos, apaixonado por tecnologia desde criança, sempre achei incrível o poder dela e o que podemos fazer utilizando a mesma, gosto muito de ficar procurando novas funcionalidades, pois assim vou ganhando conhecimento constante.
        Meu primeiro contato com programação foi na faculdade em 2019, onde percebi que era realmente a carreira que quero seguir. Prezo muito pela diversidade e livre arbítrio, devemos tomar nossas próprias decisões, sem ser julgado por ninguém e sem julgar também.
        </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-lg-4 sumir" >
        <img class="foto_grupo foto_direita rounded-circle" src="../../assets/img/membros/Jonathan.jpg" alt="Jonathan">
        <div class="justify-content-center d-flex mt-2 pt-2" style="clear: both;">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>
    </div>

    <div class="infor_esquerda row mt-3 mb-2" data-anime="bottom">
      <div class="col-md-4 col-sm-6 col-lg-4" >
        <img class="foto_grupo rounded-circle" src="../../assets/img/membros/Pedro.jpg" alt="Pedro">
        <div class="justify-content-center d-flex mt-2">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-lg-8" >
        <div class="div_esquerda">
          <h4>Pedro Zanotti</h4>
          <h5 style="color:#545454;">Desenvolvedor Web Fullstack</h5>
          <p> 22 anos, apaixonado por música, curioso nato e defensor da diversidade. Vindo da área de eventos e gastronomia, me apaixonei pela tecnologia, pois percebi que posso ajudar pessoas e disseminar meu conhecimento de uma forma muito mais incisiva. Em minha trajetória, até então, reconheci que os obstáculos me impulsionaram a aprimorar minha melhor versão. Acredito realmente que o trabalho em equipe e ajuda mútua são essenciais para qualquer ambiente de trabalho.
          </p>
        </div>
      </div>
    </div>

    <div class="infor_direita row mt-3 mb-2" data-anime="bottom">
      <div class="col-md-4 col-sm-6 col-lg-4 aparecer" >
        <img class="foto_grupo foto_direita rounded-circle" src="../../assets/img/membros/Renan.jpeg" alt="Renan">
        <div class="justify-content-center d-flex mt-2">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>

      <div class="col-md-8 col-sm-6 col-lg-8" >
        <div class="div_direita">
          <h4 class="texto_direita">Renan Zago</h4>
          <h5 class="texto_direita" style="color:#545454;">Desenvolvedor Web Fullstack</h5>
          <p> 20 anos, amante de lógica de programação e determinado em seguir na área de tecnologia, focado em automações para facilitar a vida do usuário. Nascido em São José do Rio Preto, se mudou para Santo André em 2018 para trabalhar e estudar, onde teve seu primeiro contato com programação na UFABC. Após deixar a indústria automobilística em dezembro de 2019, decidiu se dedicar integralmente ao estudo de ferramentas para desenvolvimento. Ama ensinar e ajudar aqueles que tem dificuldade na mesma intensidade em que se dedica nos estudos.
        </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-lg-4 sumir" >
        <img class="foto_grupo foto_direita rounded-circle" src="../../assets/img/membros/Renan.jpeg" alt="Renan">
        <div class="justify-content-center d-flex mt-2 pt-2" style="clear: both;">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>
    </div>

    <div class="infor_esquerda row mt-3 mb-2" data-anime="bottom">
      <div class="col-md-4 col-sm-6 col-lg-4" >
        <img class="foto_grupo rounded-circle" src="../../assets/img/membros/William.jpg" alt="Willian">
        <div class="justify-content-center d-flex mt-2">
          <button class="btn mr-3 github"><img src="../../assets/img/membros/github.png"><a href="">Github</a></button>
          <button class="btn ml-3 linkedin"><img src="../../assets/img/membros/linkedin.png"><a href="">LinkedIn</a></button>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-lg-8" >
        <div class="div_esquerda">
        <h4>Willian Jhonatan</h4>
        <h5 style="color:#545454;">Desenvolvedor Web Fullstack</h5>
        <p>24 anos, engajado com o projeto da ForQueens Professional, visa trazer mais comodidade e acessibilidade aos seus clientes, mas principalmente conseguir de alguma forma fazer a diferença na vida das pessoas. Nascido na cidade de São Paulo, formado em Análise e Desenvolvimento de Sistemas, atuou também no mercado de Telecomunicações e foi jovem aprendiz atuando como auxiliar de farmácia. Willian acredita que através da tecnologia conseguirá facilitar e melhorar a vida das pessoas.
        </p>
        </div>
      </div>
    </div>
  </div>
</main>