<main class="fundo">
  <div id="tema_equipe" class="container col-md-10 col-sm-10 col-lg-10">
    <br><br>
    <h1 class="tema_sobre">ForQueens
      <hr>
    </h1>
    <br>
    <p> A For Queens nasceu de um sonho e está preparada para revolucionar o seu negócio, desenvolvida por profissionais
      com
      grande experiência no mundo dos cosméticos, tem seu sucesso no mercado, ao fato de ter muito bem sedimentado o
      conceito
      de fabricar produtos somente de qualidade para uso profissional.</p>
    <p> Com sua atividade voltada em atender os melhores cabeleireiros, salões, estúdios e hair stylists, de acordo com
      suas
      necessidades e tendências do mundo da beleza. A marca For Queens Professional vem conquistando o sucesso através
      do
      equilíbrio entre as áreas envolvidas desde a criação até à venda do produto.
      Não conta com linha de outros tipos de cosméticos, o que lhe permite um aprimoramento no desenvolvimento de
      produtos
      para cabelos. A maneira de analisar e tratar e identificando o que o que cada cliente necessita é um ponto
      fundamental.
      Suas formulações foram elaboradas com a mais alta tecnologia, utilizando princípios ativos e nutrientes mais
      eficazes
      que intensificam e prolongam a vida dos cabelos. Além disso, a For Queens se preocupa em capacitar e aprimorar os
      profissionais da área que a utilizam para realizar diagnósticos e tratamentos personalizados para os seus
      clientes,
      qualificando nossos profissionais. A For Queens Professional, conta com uma completa linha de produtos para
      limpar,
      hidratar, alisar e restaurar os fios danificados.</p>
    <p>Contamos com produtos que dão um ânimo moderno e audacioso, com tratamentos inovadores e de alta tecnologia,
      sempre
      com
      foco nas particularidades de cada tipo de cabelo atendendo assim a necessidade de nossos clientes.</p>
    <br><br><br>

    <h1 class="tema_sobre">Equipe de Desenvolvedores
      <hr>
    </h1>
    <br>

    <div class="infor_esquerda row">


      <div class="col-md-4 col-sm-4 col-lg-4" data-anime="left">
        <img class="foto_grupo " src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>
      <div class=" col-md-8 col-sm-8 col-lg-8" data-anime="right">
        <h4>Eduardo Alves</h4>
        <br>
        <h5 style="color:#545454;">Desenvolvedor Web Full-Stack jr.</h5>
        <br>
        <p>Sempre ativo e em busca de conhecimento, adora o saber e o poder atribuido a ele. Nascido na cidade de São
          Paulo,
          apaixonou-se pelo mundo da tecnologia iniciando sua vida profissional na área de Tecnologia da Informação
          comoSuporte
          Técnico, e hoje busca aprender e desenvolver projetos voltados a área. Atualmente faz faculdade de Engenharia
          de
          Automação e Robótica na Universidade Federal do ABC.</p>
      </div>
    </div>

    <div class="infor_direita row" >
      <div class="col-md-4 col-sm-4 col-lg-4 aparecer" data-anime="right">
        <img class="foto_grupo foto_direita" src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>

      <div class=" col-md-8 col-sm-8 col-lg-8"data-anime="left">
        <h4 class="texto_direita ">Jonathan Dias</h4>
        <br>
        <h5 class="texto_direita" style="color:#545454;">Desenvolvedor Web Full-Stack jr.</h5>
        <br>
        <p>Desde criança sou apaixondo por técnologia, sempre achei inclível o poder dela e o que podemos fazer
          utilizando a mesma.
          Meu primeiro contato com programação foi na faculdade em 2019, onde percebi que era realmente a carreira que
          quero seguir.
          Prezo muito pela diversidade e livre arbítrio, devemos tomar nossas próprias decisões, sem ser julgado por
          ninguém e sem julgar também.
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 sumir" data-anime="right">
        <img class="foto_grupo foto_direita " src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>
    </div>

    <div class="infor_esquerda row">
      <div class="col-md-4 col-sm-4 col-lg-4" data-anime="left">
        <img class="foto_grupo " src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8" data-anime="right">
        <h4>Pedro Zanotti</h4>
        <br>
        <h5 style="color:#545454;">Desenvolvedor Web Full-Stack jr.</h5>
        <br>
        <p> 22 anos, musico , entrou na área de técnologia visando trazer os seus ideais para o desenvolvimento de
          softwares, levando informação para as minorias e periferias de São Paulo, pregando sempre o respeito e a
          liberdade.
        </p>
      </div>
    </div>

    <div class="infor_direita row">
      <div class="col-md-4 col-sm-4 col-lg-4 aparecer" data-anime="left">
        <img class="foto_grupo foto_direita" src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>

      <div class="col-md-8 col-sm-8 col-lg-8" data-anime="left">
        <h4 class="texto_direita">Renan Zago</h4>
        <br>
        <h5 class="texto_direita" style="color:#545454;">Desenvolvedor Web Full-Stack jr.</h5>
        <br>
        <p> 20 anos, amante de lógica de programação e determinado em seguir na área de tecnologia, sempre criando
          automações para
          facilitar a vida do usuário. Nascido em São José do Rio Preto, se mudou para Santo André em 2017 para estudar,
          e
          teve
          seu primeiro contato com programação durante o inicio do curso de Bacharelado em Ciência e Tecnologia na
          UFABC,
          aonde se
          apaixonou pela linguagem Python. Após deixar a indústria automobilística, decidiu se dedicar integralmente ao
          setor de
          desenvolvimento. Ama ensinar e ajudar aqueles que tem dificuldade na mesma intensidade que ama automação.
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 sumir" data-anime="right">
        <img class="foto_grupo foto_direita" src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>
    </div>

    <div class="infor_esquerda row mb-5" style="padding-top: 45px;">
      <div class="col-md-4 col-sm-4 col-lg-4" data-anime="left">
        <img class="foto_grupo" src="../../assets/img/membros/goku.jpg" alt="goku">
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8" data-anime="right">
        <h4>Willian</h4>
        <br>
        <h5 style="color:#545454;">Desenvolvedor Web Full-Stack jr.</h5>
        <br>
        <p>24 anos, engajado com o projeto da ForQueens, visa trazer mais comodidade e acessibilidade aos seus clientes,
          mas
          principalmente conseguir de alguma forma fazer a diferença na vida das pessoas. Nascido na cidade de São
          Paulo,
          estudante de Analise e desenvolvimento de sistemas, atuou também no mercado de Telecomunicações. Willian
          acredita
          que através da tecnologia conseguirá facilitar e melhorar a vida das pessoas.
        </p>
      </div>
    </div>
  </div>
</main>