<main class="fundo">

  <div>
    <img src="../../assets/img/pagina_home/banner.png" style="width: 100%;" alt="">
  </div>

  <div class="produtos container mb-3 mt-3">

    <h1 class="text-center mt-4 pt-4">Nossos Produtos</h1>
    <hr class="mb-4 pb-5">

    <div class="row">
      <!-- Categorias -->
      <div class="col-lg-3 col-md-12">
        <div class="list-group-hover sidebar-widget-1">
          <ul class="list-unstyled">
            <li>
              <a class="list-group-item botox bg-active" (click)="getBotox()">Botox</a>
            </li>
            <li>
              <a class="list-group-item hidratante" (click)="getHidratante()">Hidratante</a>
            </li>
            <li>
              <a class="list-group-item mascara" (click)="getMascara()">Máscara</a>
            </li>
            <li>
              <a class="list-group-item reconstrutor" (click)="getReconstrutor()">Reconstrutor</a>
            </li>
            <li>
              <a class="list-group-item shampoo" (click)="getShampoo()">Shampoo</a>
            </li>
            <li>
              <a class="list-group-item kit" (click)="getKit()">Kits</a>
            </li>
          </ul>
        </div>
      </div>

      
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-6 mb-3" *ngFor="let categoria of listaCategoria">
            <div class="product-grid3 cardProduto" *ngFor="let produto of categoria.produto"
              (click)='produtoId(produto.codigoProduto)'>
              <div class="product-image3" data-toggle="modal" data-target="#modalProduto">
                <a>
                  <img class="pic-1 imgProduto" src="{{produto.urlImage}}">
                  <img class="pic-2 imgProduto" src="{{produto.urlImage}}">
                </a>
                <ul class="social">
                  <li>
                    <a>
                      <fa-icon [icon]="faShoppingBag" class="fa icones"></fa-icon>
                    </a>
                  </li>
                  <li>
                    <a>
                      <fa-icon [icon]="faShoppingCart" class="fa icones"></fa-icon>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <h3 class="title"><a>{{produto.nomeProduto}}</a></h3>
                <div class="price">
                  {{produto.valor}}
                  <span>{{categoria.descricao}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="modal " id="modalProduto" *ngFor="let modal of listaProduto">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{modal.urlImage}}" class="card-img mt-4" alt="Produto do site">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{modal.nomeProduto}}</h5>
                        <p class="card-text"><strong>Categoria: </strong>{{modal.categoria.descricao}}</p>
                        <p class="card-text"><strong>Descrição: </strong> {{modal.descricao}}
                        </p>
                        <p><strong>Preço: </strong>{{modal.valor}}</p>
                        <div class="row">
                          <div class="col-8">
                            <button class="btn">ADICIONAR AO CARRINHO</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>