<!-- Footer -->
<section id="footer">
	<div class="container">
		<div id="conteudo" class="row text-center text-xs-center text-sm-center text-md-center">
			<div id="mapasite" >
				<h5><a [routerLink]="['/mapa-site']"><strong>Mapa do Site</strong></a></h5>
				<span class="animate-border border-black"></span>
			</div>
			<div id="politica" >
				<h5><a [routerLink]="['/politica']"><strong>Política de Privacidade</strong></a></h5>
				<span class="animate-border2 border-black"></span>
			</div>
			<div id="perguntas" >
				<h5><a [routerLink]="['/faq']"><strong>Perguntas Frequentes</strong></a></h5>
				<span class="animate-border3 border-black"></span>
			</div>
			<div id="sugestoes" >
				<h5><a [routerLink]="['/contato']"><strong>Sugestões</strong></a></h5>
				<span class="animate-border4 border-black"> </span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
				<h3 class="text-center"><strong>Conheça Nossas Redes Sociais</strong></h3>
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a [routerLink]="['https://www.facebook.com/ForQueensProfissional/']" target="_blank"> <i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a [routerLink]="['https://www.instagram.com/forqueensprofessional/']" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href=""><i class="fa fa-whatsapp"></i></a></li>
					<li class="list-inline-item"><a [routerLink]="['/contato']" target="_blank"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			<hr>
		</div>	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
				<p><a>ForQueens Professional.</a>  Brasil, São Paulo.</p>
				<p class="h6">Copyright© 2020. All right Reversed.</p>
			</div>
			<hr>
		</div>	
	</div>
</section>
<!-- ./Footer -->