/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

#conteudo {
	margin-left: 10px;
}

#politica {
	margin-left: 100px;
}

#perguntas {
	margin-left: 100px;
}

#sugestoes {
	margin-left: 100px;
}

#footer {
	background: black !important;
	padding-bottom: 20px;
	padding-top: 30px;
}
#footer h5{
	padding-left: 10px;
    margin-bottom: 15px;
    color:#ffffff;
}

#footer h5 :hover {
	font-size:22px;
	color:#ffde59;
}

#footer h3 {
	font-size:22px;
	color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}
#footer ul.social li{
	padding: 5px 2px;
}

/* Tamanho dos icones antes do hover */
#footer ul.social li a i {
    margin-right: 5px;
	font-size:28px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

/* Tamanho dos icones após o hover */
#footer ul.social li:hover a i {
	font-size:35px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}

/* Cor dos ícones após o hover */
#footer ul.social li a:hover{
	color:#ffde59;
}
#footer ul.quick-links li{
	margin-right: 5px;
	font-size:28px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}


/*Linha Animada*/

   .animate-border {
  position: relative;
  display: block;
  width: 146px;
  height: 3px;
  background: #ffde59; }

  .animate-border:after {
	position: absolute;
	content: "";
	width: 35px;
	height: 3px;
	left: 0;
	bottom: 0;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	-webkit-animation: animborder 2s linear infinite;
	animation: animborder 2s linear infinite; }

  .animate-border2 {
	position: relative;
	display: block;
	width: 230px;
	height: 3px;
	background: #ffde59; }

.animate-border2:after {
	position: absolute;
	content: "";
	width: 35px;
	height: 3px;
	left: 0;
	bottom: 0;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	-webkit-animation: animborder 2s linear infinite;
	animation: animborder 2s linear infinite; }


.animate-border3 {
	position: relative;
	display: block;
	width: 230px;
	height: 3px;
	background: #ffde59; }
	
.animate-border3:after {
	position: absolute;
	content: "";
	width: 35px;
	height: 3px;
	left: 0;
	bottom: 0;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	-webkit-animation: animborder 2s linear infinite;
	animation: animborder 2s linear infinite; }

.animate-border4 {
	position: relative;
	display: block;
	width: 140px;
	height: 3px;
	background: #ffde59; }
		
.animate-border4:after {
	position: absolute;
	content: "";
	width: 35px;
	height: 3px;
	left: 0;
	bottom: 0;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	-webkit-animation: animborder 2s linear infinite;
	animation: animborder 2s linear infinite; }


@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }





